{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            {% if not adsshow %}
                {% include "ads/hori_respon.html" %}
            {% endif %}
            {% include "user_profile/dashboard.html" %}
            <div class="col-sm-9">
                <div id="groupresult">
                    {% include "loadgroup.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}