.selectbtn {
    width: 230px;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    border-radius: 5px;
}

.serbtn {
    width: 230px;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #0088cc;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.addbtn {
    color: white;
    font-size: 20px;
    background-color: #0088cc;
    padding: 5px;
    border-radius: 5px
}

.addbtn:hover {
    background-color: #ffffff;
    color: #023c58;
    border: 1px solid #777;
}

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.item-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}

.item-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item-content {
    padding: 15px;
    background: #72cffa;
}

.item-text {
    position: relative;
    overflow: hidden;
    height: 100px;
}

#main {
    margin-top: 9em;
}

#tiles {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}

#tiles li:hover img {
    opacity: 0.8;
}

#tiles li {
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: none;
    cursor: pointer;
    border-radius: 0.2em;
}

#tiles li img {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

#tiles li.inactive {
    visibility: hidden;
    opacity: 0;
}

#tiles li img {
    display: block;
}

footer {
    text-align: center;
}

footer a {
    color: #435DC5;
    text-decoration: none;
}

.progress-bar {
    background-color: #0BC20B;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.wookmark-placeholder {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #eee;
    border: 1px solid #dedede;
    z-index: -1;
}

.example-tiles {
    position: relative;
    margin: 0;
    padding: 0;
}

.example-tiles li {
    display: block;
    list-style-type: none;
    float: left;
    margin: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
    color: #555;
    background-color: #eee;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding: 5px 8px;
    border-radius: 3px;
}

.example-tiles a:hover {
    background-color: #ddd;
}

@media only screen and (max-width:640px) and (min-width:480px) {
    #main {
        margin-top: 7em;
    }
}

@media only screen and (max-width:480px) and (min-width:320px) {
    #main {
        margin-top: 9.5em;
    }
}

@media only screen and (max-width:320px) and (min-width:240px) {
    #main {
        margin-top: 9em;
    }
    #tiles li {
        width: 266px;
    }
}

.auth>a>button {
    display: inline-block;
    background-color: #0088cc;
    color: white;
    padding: 5px;
    border-radius: 5%;
    border: 1px solid #013d5b;
    min-width: 100px;
    margin-left: 2.1em;
}

.container {
    height: 600px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
    margin: auto;
}

.btn1 {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(188, 250, 254);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #000000;
}

.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #0088cc, #002e44);
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 250px;
}

.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.form-section-move {
    left: -500px;
}

.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.login-box {
    gap: 50px;
}

.signup-box {
    gap: 30px;
}

.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}

.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #0088cc, #002e44);
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }
    .title {
        font-size: 15px;
    }
    .btn1 {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
    .login,
    .signup {
        font-size: 19px;
    }
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
    .moveslider {
        left: 150px;
    }
    .form-section {
        height: 500px;
        width: 600px;
    }
    .form-section-move {
        left: -300px;
    }
    .login-box,
    .signup-box {
        height: 100%;
        width: 300px;
    }
    .ele {
        height: 50px;
        width: 200px;
        font-size: 15px;
    }
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
    .heading {
        font-size: 30px;
    }
    .title {
        font-size: 10px;
    }
    .btn1 {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
    .login,
    .signup {
        font-size: 19px;
    }
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
    .moveslider {
        left: 127px;
    }
    .form-section {
        height: 500px;
        width: 500px;
    }
    .form-section-move {
        left: -250px;
    }
    .login-box,
    .signup-box {
        height: 100%;
        width: 250px;
    }
    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}

.count-down-container {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    height: 150px;
    max-width: 600px;
    place-items: center;
    margin: auto;
}

.count-down-box {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    place-items: center;
    text-align: center;
    display: grid;
    height: 100%;
    width: 100%;
}

.count-down-box:nth-child(1) {
    background-color: #3c79e0;
}

.count-down-box:nth-child(2) {
    background-color: #4285f6;
}

.count-down-box:nth-child(3) {
    background-color: #5390f7;
}

.count-down-box:nth-child(4) {
    background-color: #629af8;
}

.count-down-box h1 {
    font-size: 60px;
    color: white;
}

.count-down-box p {
    font-size: 13px;
    color: white;
}

.hint-message {
    margin: 15px 0px;
    text-align: center;
    font-size: 25px;
    color: #0088cc;
}

.change18 {
    background-color: #461212;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.clear {
    clear: both;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.vertical-base {
    vertical-align: baseline;
}

.vertical-top {
    vertical-align: top;
}

nav.vertical ul li {
    display: block;
}

nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #F0EFEE;
}

.maindiv {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-bottom: 10px
}

.gtitle {
    vertical-align: top;
    height: 20px;
}

.descri {
    overflow-wrap: break-word;
}

.joinbtn {
    color: #039be5;
    font-weight: bold;
}

.btn {
    background-color: #0088cc;
    color: white;
    padding: 10px;
    border-radius: 5px
}

.icon {
    height: 14px;
    width: 14px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 3px;
}

.cate {
    color: #9b9b9b;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 1.5em 0 1.2em;
    border-bottom: 1px solid rgba(214, 213, 212, 0.64);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #002e44;
}

.logo {
    float: left;
}

.logo img {
    display: inline-block;
}

.nav-icon {
    float: left;
    margin: 0.6% 2% 0 8%;
    width: 4.55%;
}

.nav-icon a span {
    width: 48px;
    height: 34px;
    display: block;
    background: url(../images/nav-icon.png) no-repeat 0px 0px;
}

.top-searchbar {
    float: left;
    width: 45%;
    position: relative;
    margin-left: 2em;
}

.top-searchbar input[type="text"] {
    margin-top: 0.55em;
    width: 100%;
    padding: 0.58em 1em;
    border: 1px solid #E7E7E7;
    transition: border-color 0.3s all;
    -webkit-transition: border-color 0.3s all;
    -moz-transition: border-color 0.3s all;
    -o-transition: border-color 0.3s all;
    outline: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    position: relative;
}

.top-searchbar input[type="text"] {
    background: #F7F6F6;
}

.top-searchbar input[type="text"]:hover {
    border: 1px solid #DDDDDD;
}

.top-searchbar input[type="submit"] {
    position: absolute;
    background: url(../images/search-icon.png) no-repeat 0px 0px;
    height: 26px;
    width: 26px;
    display: inline-block;
    border: none;
    top: 12px;
    right: -22px;
    outline: none;
    cursor: pointer;
}

.box {
    position: absolute;
    top: -100px;
    width: 100%;
    color: #7F7F7F;
    margin: auto;
    padding: 0px;
    z-index: 999999;
    text-align: center;
    left: 0px;
}

.box_content_center {
    background: rgba(240, 239, 238, 0.74);
}

a.boxclose {
    cursor: pointer;
    text-align: center;
    display: block;
    position: absolute;
    top: 1.9em;
    right: 15em;
}

#activator {}

.menu_box_list {
    display: inline-block;
    padding: 2.1em 0;
}

.menu_box_list ul li {
    display: inline-block;
}

.menu_box_list li a {
    display: block;
    color: #363636;
    font-size: 0.875em;
    margin: 0.44em 2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu_box_list li a:hover {
    color: #B9CB41;
}

.menu_box_list li a>i>img {
    vertical-align: middle;
    padding-right: 10px;
}

.boxclose span {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url(../images/close2.png) no-repeat 0px 0px;
}

.boxclose span:hover {
    background: url(../images/close2h.png) no-repeat 0px 0px;
}

.userinfo {
    float: right;
    width: 15%;
    margin-top: 0.3em;
}

.user ul li {
    display: inline-block;
}

.user ul li a span {
    vertical-align: middle;
    margin-left: 0.8em;
    font-size: 1em;
}

.user ul li a {
    color: #8C8C8C;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.user ul li a:hover {
    color: #B9CB41;
}

.user ul li a img {
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    vertical-align: middle;
}

.post-share span {
    background: url(../images/whatsapp.png) no-repeat 0px 0px;
    height: 26px;
    width: 26px;
    display: inline-block;
}

.post-share span:hover {
    background: url(../images/whatsapp1.png) no-repeat 0px 0px;
}

.rateit span {
    height: 18px;
    width: 76px;
    background: url(../images/start-rate.png) no-repeat 0px 0px;
    display: inline-block;
}

.rateit span:hover {
    background: url(../images/start-rateh.png) no-repeat 0px 0px;
}

.post-basic-info h3 a {
    color: #717171;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.post-basic-info h3 a:hover {
    color: #B9CB41;
}

.post-basic-info span a label {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 0.4em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.post-basic-info span a:hover {
    color: #B9CB41;
}

.post-basic-info p {
    font-size: 0.875em;
    color: #7F7F7F;
    margin: 0.6em 0;
    line-height: 1.5em;
}

.post-info-rate-share {
    border-top: 1px solid rgba(183, 181, 181, 0.36);
    padding-top: 2px;
}

.rateit {
    float: left;
    margin: 0.18em 0 0 1em;
}

.post-share {
    float: right;
    padding-top: 2px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.footer p {
    color: #8C8C8C;
    font-size: 0.9em;
}

.footer p a {
    color: #B9CB41;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.footer p a:hover {
    color: #8C8C8C;
}

.artical-content h3 a {
    font: 400 28px/28px 'Open Sans', sans-serif;
    color: #626262;
    text-align: left;
    font-weight: 400;
    padding: 0.9em 0 0;
    display: block;
}

.artical-content p {
    font: normal 16px/26px 'Open Sans', sans-serif, Helvetica, sans-serif;
    color: #9b9b9b;
    padding: 17px 0px;
    font-weight: 400;
}

.artical-content img {
    width: 100%;
}

.share-artical ul li {
    display: inline-block;
    padding-right: 10px;
}

.share-artical ul li img {
    vertical-align: text-top;
    padding-right: 7px;
}

.share-artical ul li a {
    font: 400 14px/22px 'Open Sans', sans-serif;
    color: #cbcbc3;
    padding-left: 20px;
    font-weight: 400;
}

.share-artical ul li a:hover {
    color: #B9CB41;
}

.single-page {
    margin-top: 8em;
    background: #fff;
    padding: 2%;
}

.artical-links {
    padding: 10px 0px;
    float: left;
}

.share-artical {
    float: right;
    padding: 10px;
}

.artical-links ul li {
    display: inline-block;
}

.artical-links ul li img {
    vertical-align: middle;
    padding-right: 10px;
}

.artical-links ul li a {
    font: 400 14px/22px 'Open Sans', sans-serif;
    color: #cbcbc3;
    padding-left: 20px;
    font-weight: 400;
}

.artical-links ul li a:hover {
    color: #B9CB41;
}

h4.style1 a {
    font: 400 20px/28px 'Open Sans', sans-serif;
    color: #363636;
    text-transform: uppercase;
    padding: 1em 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

h3.style {
    font: 400 13px/28px 'Open Sans', sans-serif;
    color: #363636;
    text-align: left;
    text-transform: uppercase;
    padding: 0.8em 0 0;
}

p.para {
    font-size: 0.875em;
    color: #B7B5B5;
    margin: 0.6em 0;
    line-height: 1.8em;
    font-weight: 400;
}

.grids_of_2 h2 {
    font: 400 30px/28px 'Open Sans', sans-serif;
    color: #363636;
    text-align: left;
    padding: 1em 0 0.5em;
}

.grid1_of_2 {
    margin-top: 0.8em;
}

.grid_img {
    float: left;
    width: 8.33333%;
    margin-right: 2%;
}

.grid_text {
    float: left;
    width: 88.33333%
}

.grid_text h3 {
    text-align: left;
}

.btn1 {
    text-align: left;
    font-size: 0.875em;
    color: #363636;
    line-height: 1.8em;
    padding: 2px 0;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 400;
}

.btn1:hover {
    zoom: 1;
    color: #B9CB41;
}

.grid1_of_2.left {
    margin-left: 14%;
}

.artical-commentbox {
    margin: 1em 0;
}

.table-form {
    margin: 0em auto;
}

.table-form form input[type="text"],
input[type="email"] {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgba(192, 192, 192, 0.61);
    outline: none;
    padding: 12px;
    color: #333333;
    overflow: hidden;
    width: 97.7%;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.table-form textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    outline: none;
    color: #333333;
    border: 1px solid rgba(192, 192, 192, 0.61);
    width: 60%;
    height: 180px;
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.table-form form input[type="text"],
input[type="email"]:hover,
.table-form textarea:hover {
    border: 1px solid #B9CB41;
}

.table-form input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
    padding: 0.8em 1.5em;
    background: #fff;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid rgba(192, 192, 192, 0.61);
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    outline: none;
}

.table-form input[type="submit"]:hover {
    color: #B9CB41;
    border: 1px solid #B9CB41;
}

.table-form label {
    display: block;
    margin: 0.4em 0 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    font-weight: 100;
}

.table-form div {
    margin: 0.5em 0;
}

.table-form div {
    margin: 1em 0;
}

.contact-info {
    padding: 2% 2% 3% 2%;
    background: #fff;
    border-radius: 5px;
}

.proimg {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.predesc {
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
    border: 1px solid #cbcbc3;
    color: #545454;
    border-radius: 5px;
    word-wrap: break-word;
}

.innertag {
    background-color: #72cffa;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    padding: 0px 10px 2px 10px;
    line-height: 25px;
    word-wrap: break-word;
}

.contact form {
    font-family: 'Open Sans', sans-serif;
}

.map {
    margin-bottom: 30px;
}

.list3 li>img {
    float: left;
    margin-right: 10px;
}

.extra-wrap {
    overflow: hidden;
}

.extra-wrap p {
    color: #626262;
    line-height: 1.8em;
    font-size: 0.85em;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

span.mail a {
    color: #B9CB41;
}

span.mail a:hover {
    color: #626262;
}

.contact-to input[type="text"],
input[type="url"],
input[type="email"] {
    padding: 10px 10px;
    width: 97.7%;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
    border: 1px solid rgba(192, 192, 192, 0.61);
    color: #626262;
    background: #FFF;
    float: left;
    outline: none;
    font-size: 0.85em;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.contact-to input[type="text"],
input[type="url"],
input[type="email"]:nth-child(2),
.contact-to input[type="text"],
input[type="url"],
input[type="email"]:nth-child(3) {
    margin-left: 0px;
}

.text2 input[type="text"],
.text2 textarea {
    width: 97.7%;
    margin-top: 10px;
    border: 1px solid rgba(192, 192, 192, 0.61);
    color: #626262;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    height: 100px;
    padding: 10px 10px;
    font-size: 0.85em;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.text2 textarea {
    height: 180px;
}

.text2 input[type="text"],
input[type="url"],
input[type="email"]:hover,
.text2 textarea:hover,
.contact-to input[type="text"],
input[type="url"],
input[type="email"]:hover {
    border: 1px solid #B9CB41;
}

.text3 input[type="text"],
.text3 select {
    width: 99.5%;
    margin: 10px 0;
    border: 1px solid rgba(192, 192, 192, 0.61);
    color: #626262;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding: 10px 10px;
    font-size: 0.85em;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.text3 input[type="text"],
input[type="url"]:hover,
.text3 select:hover,
.contact-to input[type="text"],
input[type="url"]:hover {
    border: 1px solid #B9CB41;
}

.contact-form input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding: 0.8em 1.5em;
    background: #0088cc;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid rgba(192, 192, 192, 0.61);
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    outline: none;
}

.contact-form input[type="submit"]:hover {
    color: #B9CB41;
    border: 1px solid #B9CB41;
}

.span_1_of_first1 h5 {
    color: #363636;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
}

.span_1_of_first1 {
    width: 29.5%;
}

.col_1_of_bottom:first-child {
    margin-left: 0;
}

.col_1_of_bottom {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}

.contact-grids {
    margin-bottom: 1em;
}

@media only screen and (max-width:1440px) and (min-width:1366px) {
    .wrap {
        width: 85%;
    }
}

@media only screen and (max-width:1366px) and (min-width:1280px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
}

@media only screen and (max-width:1280px) and (min-width:1024px) {
    .wrap {
        width: 80%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"],
    input[type="url"],
    input[type="email"] {
        width: 97.7%;
    }
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"],
    input[type="url"] {
        width: 97.7%;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 97.7%;
    }
    .text3 input[type="text"],
    .text3 select {
        width: 99.5%;
    }
    .top-searchbar {
        width: 40%;
    }
    a.boxclose {
        right: 6em;
        top: 2em;
    }
}

@media only screen and (max-width:768px) and (min-width:640px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"],
    input[type="url"] {
        width: 96%;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 96%;
        resize: none;
    }
    .text3 input[type="text"],
    .text3 select {
        width: 99.5%;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 29%;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1 {
        display: none;
    }
    .nav-icon {
        margin: 1.2% 2% 0 6%;
    }
    .artical-content h3 a {
        font: 400 24px/36px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        width: 17%;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"],
    input[type="email"] {
        width: 95%;
        padding: 10px;
    }
    .table-form textarea {
        width: 85%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
}

@media only screen and (max-width:640px) and (min-width:480px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"],
    input[type="url"] {
        width: 95%;
        resize: none;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 95%;
        resize: none;
    }
    .text3 input[type="text"],
    .text3 select {
        width: 100%;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 47%;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1 {
        display: none;
    }
    .nav-icon {
        margin: 1.2% 2% 0 6%;
    }
    .artical-content h3 a {
        font: 400 24px/36px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"],
    input[type="email"] {
        width: 95%;
        padding: 10px;
    }
    .table-form textarea {
        width: 85%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 7em;
        padding: 4% 4% 5% 4%;
    }
}

@media only screen and (max-width:480px) and (min-width:320px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"],
    input[type="url"] {
        width: 93%;
        resize: none;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 93%;
        resize: none;
    }
    .text3 input[type="text"],
    .text3 select {
        width: 99.5%;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 94%;
        float: none;
        margin: 0;
        clear: both;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1,
    .para2 {
        display: none;
    }
    .nav-icon {
        margin: 2.5% 6.8% 0 0%;
        float: right;
    }
    .artical-content h3 a {
        font: 400 20px/31px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-links ul li {
        display: block;
    }
    .share-artical ul li {
        display: block;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"],
    input[type="email"] {
        width: 94.8%;
        padding: 10px;
    }
    .table-form textarea {
        width: 97.7%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 9.5em;
        padding: 4% 4% 5% 4%;
    }
    .span_1_of_first1 h5 {
        font-size: 1em;
    }
}

@media only screen and (max-width:320px) and (min-width:240px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 5px 10px;
    }
    .contact-to input[type="text"],
    input[type="url"] {
        width: 90%;
        resize: none;
        -webkit-appearance: none;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 90%;
        resize: none;
        -webkit-appearance: none;
    }
    .text2 textarea {
        height: 100px;
        resize: none;
        -webkit-appearance: none;
    }
    .text3 input[type="text"],
    .text3 select {
        width: 99.5%;
        resize: none;
        -webkit-appearance: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 90%;
        float: none;
        margin: 0;
        clear: both;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1,
    .para2 {
        display: none;
    }
    .nav-icon {
        margin: 2.5% 12.8% 0 0%;
        float: right;
    }
    .artical-content h3 a {
        font: 400 16px/23px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-links ul li {
        display: block;
    }
    .share-artical ul li {
        display: block;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"],
    input[type="email"] {
        width: 91.8%;
        padding: 10px;
    }
    .table-form textarea {
        width: 92%;
        padding: 10px;
        height: 100px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 9em;
        padding: 4% 4% 5% 4%;
    }
    .span_1_of_first1 h5 {
        font-size: 1em;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pinner {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

.pinner>form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
}

.pinner>form>p>input {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px;
}

.dashboard {
    border: 1px solid #0088cc;
    margin: 10px;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    @media screen and (min-width: 681px) {
        display: flex;
    }
}

.dashboard>span>img {
    border: 1px solid;
    margin: 5px;
    border-radius: 50%;
}

.dashboard>div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.points {
    color: #0088cc;
    font-weight: 800;
}

.joinbtn {
    color: #ffffff;
    font-weight: 700;
    background-color: #039be5;
    padding: 5px;
    border-radius: 5px;
}

.post-info-rate-share {
    border-top: 1px solid rgba(183, 181, 181, .36);
    padding-top: 2px;
    text-align-last: auto;
}

.descri {
    overflow-wrap: break-word
}

.post-basic-info p {
    font-size: .875em;
    color: #7f7f7f;
    margin: .6em 0;
    line-height: 1.5em
}

#loadermain {
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    display: grid;
    place-items: center;
}

.pl {
    display: block;
    width: 6.25em;
    height: 6.25em;
}

.pl__ring,
.pl__ball {
    animation: ring 2s ease-out infinite;
}

.pl__ball {
    animation-name: ball;
}

@media (prefers-color-scheme: dark) {
     :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }
    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }
    50%,
    to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}

@keyframes ball {
    from,
    50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }
    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }
    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }
    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }
    57%,
    71%,
    85%,
    99%,
    to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}

.maindiv {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0088cc;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #e5e9e6;
}

p {
    font-size: 1.1em;
    margin: 14px 20px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.alertmsg {
    color: white;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: rgb(0, 0, 0);
}

h1 {
    color: #4289da;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h2 {
    color: cornflowerblue;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(44, 170, 219);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(66, 123, 197);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eefeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 250px;
    overflow: auto;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    background-color: inherit;
    font-family: inherit;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: rgb(65, 89, 126);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: rgb(220, 251, 255);
    z-index: 1;
}

.subnav-content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px 100px 0px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #33c0cb;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

b {
    font-weight: bold;
    color: #001b4c;
}

.linkbutton {
    background-color: teal;
    color: white;
    padding: 2px 20px;
    border-radius: 5px;
}

.linkbutton:hover {
    background-color: rgb(0, 128, 81);
    color: white;
    padding: 2px 20px;
    border-radius: 5px;
}

.linkbutton:visited {
    background-color: rgb(131 140 137);
    color: white;
    padding: 2px 20px;
    border-radius: 5px;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style-type: circle;
}

p a {
    color: #0088cc;
}

p strong {
    font-weight: 550;
}

canvas .fixed {
    background: lightblue;
}

#modalEl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#modalEl>.bg-white {
    max-width: 400px;
    width: 100%;
}

#modalEl h3 {
    font-size: 40px;
}

#bigScoreEl {
    font-size: 2.25rem;
}

#startgameBtn {
    font-size: 0.875rem;
    width: 100%;
    padding: 0.75rem 1.5rem;
}

.waaffilate {
    background-color: #215C54;
    padding: 5px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 5%;
    margin: 5px;
}

.waaffilate>img {
    width: 35px;
    height: 35px;
    border-radius: 25%;
    padding: 3px;
}

.errormessage {
    background-color: #461212;
    color: white;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    border: 1px solid white;
    border-radius: 5px;
}

.refresh-line {
    display: flex;
    justify-content: space-between;
}

.refresh-line button {
    height: 55px;
    background-color: #0088cc;
    border: 1px;
    border-radius: 10px;
    color: white;
}

.refresh-line button:hover {
    background-color: #0077b3;
}

.refresh-line button:active {
    background-color: #006699;
}

.post-basic-info span {
    white-space: nowrap;
    display: inline-block;
}

.filter {
    width: 100%;
    border: 1px solid #006699;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter * {
    margin: 10px;
}

.filter h2 {
    text-align: center;
}

.rating-box {
    position: relative;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
}

.rating-box header {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}

.main-star {
    color: #ff9c1a;
}