                        .joinbtn {
                            color: #ffffff;
                            font-weight: 700;
                            background-color: #039be5;
                            padding: 5px;
                            border-radius: 5px;
                        }
                        
                        .post-info-rate-share {
                            border-top: 1px solid rgba(183, 181, 181, .36);
                            padding-top: 2px;
                            text-align-last: auto;
                        }
                        
                        .descri {
                            /* background-color: #fff;
                            color: #7f7f7f; */
                            overflow-wrap: break-word
                        }
                        /* .post-basic-info span a {
    color: #acaaaa;
    font-size: .9em
}

.post-basic-info span a:hover {
    color: #b9cb41
} */
                        
                        .post-basic-info p {
                            font-size: .875em;
                            color: #7f7f7f;
                            margin: .6em 0;
                            line-height: 1.5em
                        }
                        
                        #loadermain {
                            /* background: var(--bg); */
                            color: var(--fg);
                            font: 1em/1.5 sans-serif;
                            /* height: 100vh; */
                            display: grid;
                            place-items: center;
                        }
                        
                        .pl {
                            display: block;
                            width: 6.25em;
                            height: 6.25em;
                        }
                        
                        .pl__ring,
                        .pl__ball {
                            animation: ring 2s ease-out infinite;
                        }
                        
                        .pl__ball {
                            animation-name: ball;
                        }
                        /* Dark theme  */
                        
                        @media (prefers-color-scheme: dark) {
                             :root {
                                --bg: hsl(var(--hue), 10%, 10%);
                                --fg: hsl(var(--hue), 10%, 90%);
                            }
                        }
                        /* Animation */
                        
                        @keyframes ring {
                            from {
                                stroke-dasharray: 0 257 0 0 1 0 0 258;
                            }
                            25% {
                                stroke-dasharray: 0 0 0 0 257 0 258 0;
                            }
                            50%,
                            to {
                                stroke-dasharray: 0 0 0 0 0 515 0 0;
                            }
                        }
                        
                        @keyframes ball {
                            from,
                            50% {
                                animation-timing-function: ease-in;
                                stroke-dashoffset: 1;
                            }
                            64% {
                                animation-timing-function: ease-in;
                                stroke-dashoffset: -109;
                            }
                            78% {
                                animation-timing-function: ease-in;
                                stroke-dashoffset: -145;
                            }
                            92% {
                                animation-timing-function: ease-in;
                                stroke-dashoffset: -157;
                            }
                            57%,
                            71%,
                            85%,
                            99%,
                            to {
                                animation-timing-function: ease-out;
                                stroke-dashoffset: -163;
                            }
                        }
                        
                        .maindiv {
                            background-color: #fff;
                            border-radius: 10px 10px 10px 10px;
                            padding: 10px;
                            margin-bottom: 10px;
                            border: 1px solid #0088cc;
                        }
                        /* ======== */
                        /*
    DEMO STYLE
*/
                        
                        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
                        body {
                            font-family: 'Poppins', sans-serif;
                            background: #e5e9e6;
                        }
                        
                        p {
                            font-size: 1.1em;
                            margin: 14px 20px;
                        }
                        
                        a,
                        a:hover,
                        a:focus {
                            color: inherit;
                            text-decoration: none;
                            transition: all 0.3s;
                        }
                        
                        .navbar {
                            padding: 15px 10px;
                            background: #fff;
                            border: none;
                            border-radius: 0;
                            margin-bottom: 40px;
                            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                        }
                        
                        .navbar-btn {
                            box-shadow: none;
                            outline: none !important;
                            border: none;
                        }
                        
                        .line {
                            width: 100%;
                            height: 1px;
                            border-bottom: 1px dashed #ddd;
                            margin: 40px 0;
                        }
                        /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
                        
                        .wrapper {
                            display: flex;
                            width: 100%;
                            align-items: stretch;
                        }
                        
                        #sidebar {
                            min-width: 250px;
                            max-width: 250px;
                            background: #7386D5;
                            color: #fff;
                            transition: all 0.3s;
                        }
                        
                        #sidebar.active {
                            margin-left: -250px;
                        }
                        
                        #sidebar .sidebar-header {
                            padding: 20px;
                            background: #6d7fcc;
                        }
                        
                        #sidebar ul.components {
                            padding: 20px 0;
                            border-bottom: 1px solid #47748b;
                        }
                        
                        #sidebar ul p {
                            color: #fff;
                            padding: 10px;
                        }
                        
                        #sidebar ul li a {
                            padding: 10px;
                            font-size: 1.1em;
                            display: block;
                        }
                        
                        #sidebar ul li a:hover {
                            color: #7386D5;
                            background: #fff;
                        }
                        
                        #sidebar ul li.active>a,
                        a[aria-expanded="true"] {
                            color: #fff;
                            background: #6d7fcc;
                        }
                        
                        a[data-toggle="collapse"] {
                            position: relative;
                        }
                        
                        .dropdown-toggle::after {
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                        
                        ul ul a {
                            font-size: 0.9em !important;
                            padding-left: 30px !important;
                        }
                        
                        ul.CTAs {
                            padding: 20px;
                        }
                        
                        ul.CTAs a {
                            text-align: center;
                            font-size: 0.9em !important;
                            display: block;
                            border-radius: 5px;
                            margin-bottom: 5px;
                        }
                        
                        a.download {
                            background: #fff;
                            color: #7386D5;
                        }
                        
                        a.article,
                        a.article:hover {
                            background: #6d7fcc !important;
                            color: #fff !important;
                        }
                        /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
                        
                        #content {
                            width: 100%;
                            padding: 20px;
                            min-height: 100vh;
                            transition: all 0.3s;
                        }
                        /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
                        
                        @media (max-width: 768px) {
                            #sidebar {
                                margin-left: -250px;
                            }
                            #sidebar.active {
                                margin-left: 0;
                            }
                            #sidebarCollapse span {
                                display: none;
                            }
                        }
                        
                        .alertmsg {
                            color: white;
                            padding: 20px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                        
                        .closebtn {
                            margin-left: 15px;
                            color: white;
                            font-weight: bold;
                            float: right;
                            font-size: 22px;
                            line-height: 20px;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                        
                        .closebtn:hover {
                            color: rgb(0, 0, 0);
                        }
                        
                        h1 {
                            color: #4289da;
                            font-family: arial, sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            margin-top: 0px;
                            margin-bottom: 1px;
                        }
                        
                        h2 {
                            color: cornflowerblue;
                            font-family: arial, sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        /* dropdown */
                        
                        .navbar {
                            overflow: hidden;
                            background-color: #333;
                        }
                        
                        .navbar a {
                            float: left;
                            font-size: 16px;
                            color: white;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                        }
                        
                        .dropdown {
                            float: left;
                            overflow: hidden;
                        }
                        
                        .dropdown .dropbtn {
                            font-size: 16px;
                            border: none;
                            outline: none;
                            color: rgb(44, 170, 219);
                            padding: 14px 16px;
                            background-color: inherit;
                            font-family: inherit;
                            margin: 0;
                        }
                        
                        .navbar a:hover,
                        .dropdown:hover .dropbtn {
                            background-color: rgb(66, 123, 197);
                            color: white;
                        }
                        
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #eefeff;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            max-height: 250px;
                            /* you can change as you need it */
                            overflow: auto;
                            /* to get scroll */
                        }
                        
                        .dropdown-content a {
                            float: none;
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                        }
                        
                        .dropdown-content a:hover {
                            background-color: #ddd;
                        }
                        
                        .dropdown:hover .dropdown-content {
                            display: block;
                        }
                        
                        .subnav {
                            float: left;
                            overflow: hidden;
                        }
                        
                        .subnav .subnavbtn {
                            font-size: 16px;
                            border: none;
                            background-color: inherit;
                            font-family: inherit;
                        }
                        
                        .navbar a:hover,
                        .subnav:hover .subnavbtn {
                            background-color: rgb(65, 89, 126);
                        }
                        
                        .subnav-content {
                            display: none;
                            position: absolute;
                            background-color: rgb(220, 251, 255);
                            z-index: 1;
                        }
                        
                        .subnav-content a {
                            color: rgb(0, 0, 0);
                            text-decoration: none;
                        }
                        
                        .subnav-content a:hover {
                            background-color: #eee;
                            color: black;
                        }
                        
                        .subnav:hover .subnav-content {
                            display: block;
                        }
                        
                        table {
                            font-family: arial, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                            margin: 10px 0px 100px 0px;
                        }
                        
                        td {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                        }
                        
                        th {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                            background-color: #33c0cb;
                        }
                        
                        tr:nth-child(even) {
                            background-color: #dddddd;
                        }
                        
                        b {
                            font-weight: bold;
                            color: #001b4c;
                        }
                        
                        .linkbutton {
                            background-color: teal;
                            color: white;
                            padding: 2px 20px;
                            border-radius: 5px;
                        }
                        
                        .linkbutton:hover {
                            background-color: rgb(0, 128, 81);
                            color: white;
                            padding: 2px 20px;
                            border-radius: 5px;
                        }
                        
                        .linkbutton:visited {
                            background-color: rgb(131 140 137);
                            color: white;
                            padding: 2px 20px;
                            border-radius: 5px;
                        }
                        /* context of article */
                        
                        #toc_container {
                            background: #f9f9f9 none repeat scroll 0 0;
                            border: 1px solid #aaa;
                            display: table;
                            font-size: 95%;
                            margin-bottom: 1em;
                            padding: 20px;
                            width: auto;
                        }
                        
                        .toc_title {
                            font-weight: 700;
                            text-align: center;
                        }
                        
                        #toc_container li,
                        #toc_container ul,
                        #toc_container ul li {
                            /* list-style: outside none none !important; */
                            list-style-type: circle;
                        }
                        
                        p a {
                            color: #0088cc;
                        }
                        
                        p strong {
                            font-weight: 550;
                        }
                        
                        canvas .fixed {
                            background: lightblue;
                        }
                        
                        #modalEl {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 60vh;
                        }
                        
                        #modalEl>.bg-white {
                            max-width: 400px;
                            width: 100%;
                        }
                        
                        #modalEl h3 {
                            font-size: 40px;
                        }
                        
                        #bigScoreEl {
                            font-size: 2.25rem;
                        }
                        
                        #startgameBtn {
                            font-size: 0.875rem;
                            width: 100%;
                            padding: 0.75rem 1.5rem;
                        }
                        /* .containerGame {
    height: 200px;
} */
                        /* affliate walinking */
                        
                        .waaffilate {
                            background-color: #215C54;
                            padding: 5px;
                            font-size: 17px;
                            color: rgb(255, 255, 255);
                            border: 0px;
                            border-radius: 5%;
                            margin: 5px;
                        }
                        
                        .waaffilate>img {
                            width: 35px;
                            height: 35px;
                            border-radius: 25%;
                            padding: 3px;
                        }
                        
                        .errormessage {
                            background-color: #461212;
                            color: white;
                            padding: 5px;
                            margin: 5px;
                            width: fit-content;
                            border: 1px solid white;
                            border-radius: 5px;
                        }
                        
                        .refresh-line {
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        .refresh-line button {
                            height: 55px;
                            background-color: #0088cc;
                            border: 1px;
                            border-radius: 10px;
                            color: white;
                        }
                        
                        .refresh-line button:hover {
                            background-color: #0077b3;
                            /* darker shade of button color for hover effect */
                        }
                        
                        .refresh-line button:active {
                            background-color: #006699;
                            /* even darker shade for click effect */
                        }