<div class="filter">
    <h2> Filter Telegram group links </h2>
    <label for="group_members_count">Members count(High to low)</label>
    <input type="checkbox" id="group_members_filter" onclick="toggleFilter('group_members_filter')" {% if request.COOKIES.group_members_filter == 'true' %} checked {% endif %}>
    {% comment %} <label for="exclude_pinned">Exclude Pinned:</label>
    <input type="checkbox" id="exclude_pinned" onclick="toggleFilter('exclude_pinned')" {% if request.COOKIES.exclude_pinned == 'true' %} checked {% endif %}> {% endcomment %}
</div>
<script>
    function toggleFilter(filterName) {
        var isChecked = document.getElementById(filterName).checked;
        var maxAgeSeconds = 10 * 60; // 30 minutes in seconds
        document.cookie = filterName + "=" + isChecked + ";max-age=" + maxAgeSeconds + ";path=/";
        location.reload(); // Reload the page to apply the new filter
    }
    </script>