<style>
    .filter h2 {
        margin: 0; /* Remove default margin */
    }
    
    .filter label {
        margin-right: 10px; /* Add some spacing between elements */
    }
    
    .filter select, .filter input[type="checkbox"] {
        margin-right: 10px; /* Add some spacing between elements */
    }
    
    .filter select {
        flex: 1; /* Allow select element to grow and occupy remaining space */
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    
    .filter input[type="checkbox"] {
        margin-right: 5px;
        margin:5px;
    }
    
</style>
<div class="filter">
    <h2>Filter Telegram Links</h2>    
    <div style="margin-bottom: 10px;text-align: center;">
        <select class="selectbtn" id="group_members_filter" onchange="toggleLinkType('group_members_filter')">
            <option disabled selected>Sort by Members count</option>
            <option value="-noOfMembers" {% if request.COOKIES.group_members_filter == '-noOfMembers' %} selected {% endif %}>High to Low</option>
            <option value="noOfMembers" {% if request.COOKIES.group_members_filter == 'noOfMembers' %} selected {% endif %}>Low to High</option>
        </select>
        <select class="selectbtn" id="link_type" onchange="toggleLinkType('link_type')">
            <option disabled selected>Select Link type</option>
            <option value="None" {% if request.COOKIES.link_type == 'None' %} selected {% endif %}>All link type</option>
            <option value="Group" {% if request.COOKIES.link_type == 'Group' %} selected {% endif %}>Group</option>
            <option value="Channel" {% if request.COOKIES.link_type == 'Channel' %} selected {% endif %}>Channel</option>
        </select>
        <select class="selectbtn" name="category" id="category_type" onchange="toggleLinkType('category_type')">
        <option disabled selected>Select Group Category</option>
        <option value="None" {% if request.COOKIES.category_type == 'None' %} selected {% endif %}>All category</option>
        {% include "components/category.html" %}
        </select>
  
        <select class="selectbtn" name="country" id="country_type" onchange="toggleLinkType('country_type')">
        <option disabled selected>Select Group Country</option>
        <option value="None" {% if request.COOKIES.country_type == 'None' %} selected {% endif %}>All country</option>
        {% include "components/country.html" %}
        </select>
        <select class="selectbtn" name="language" id="language_type" onchange="toggleLinkType('language_type')">
        <option disabled selected>Select Group Language</option>
        <option value="None" {% if request.COOKIES.language_type == 'None' %} selected {% endif %}>All language</option>
        {% include "components/language.html" %}
        </select>
        <button class="btn btn-primary" onclick="clearCache()"> Clear filter</button>
</div>
</div>
<script>
    function clearCache() {
        var cookieNames = ["group_members_filter", "link_type", "category_type", "country_type", "language_type"];
        
        cookieNames.forEach(function(cookieName) {
            document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        });
        
        window.location.reload();
    }
    function toggleLinkType(id) {
        var linkType = document.getElementById(id).value;
        var maxAgeSeconds = 30 * 60; // 30 minutes in seconds
        document.cookie = id+"=" + linkType + ";max-age=" + maxAgeSeconds + ";path=/";
        window.location.href = "/"
    }
</script>
