{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    
<head>
        <!-- seo tags -->
        {%if seo.title|length%}
            {% include "components/seo.html" %}
        {% else %}
            {% block seo %}{% endblock %}
        {% endif %}
        <!-- end of seo -->


        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{% static 'images/logo/telekit_favicon.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/logo/telekit_apple_icon.png' %}">




        <!--start-dropdown-->



        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

        <script src="{% static 'js/my.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        {% include "components/headerscript.html" %}
</head>
<body onload="">
    {% include "header.html" %}
    {% if alertmsg%}
    <div class='alertmsg' style="background-color: {{alertmsgbgcolor}};">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{alertmsg}}
    </div>
    {% endif %}
    {% block content %}{% endblock %}


<!--//wookmark-scripts-->
<!--start-footer-->
<div style="position: fixed;
     bottom: 10px;
     right: 10px;">
    <a class="addbtn" href="/addgroup" title="Add New Telegram Group">+ Add Telegram Group</a>
</div>


{% comment %} {% include "components/timer.html"%} {% endcomment %}
<!--//End-footer-->
{% include "footer.html" %}
<!--//End-wrap-->
<script src="{% static 'js/bottom.js' %}"></script>

<script>
    async function refreshData(button) {
        const linkId = button.dataset.linkId; // Fetch the linkId from the button's dataset
        button.disabled = true;
        button.style.transition = "background-color 1s ease";
        // Change the button text and color to "Updating..." and grey during the fetch operation
        let i = 0;
        const updatingInterval = setInterval(() => {
            button.innerText = "Updating" + ".".repeat(i++ % 4);
        }, 300);
        button.style.backgroundColor = "#808080";
    
        const response = await fetch(`/refresh/${linkId}`);
        
        clearInterval(updatingInterval);
        
        if (!response.ok) {
            // Change the button text and color back to original after an error
            button.innerText = "Updation failed!";
            button.style.backgroundColor = "#461212";
            return;
        }
    
        const data = await response.json();
        var div = document.getElementById(linkId);
    
        // Get the h2 child of the div
        var h2 = div.querySelector("h2");
        var member_count = div.querySelector("#member-count");
        var descri = div.querySelector(".descri");
        h2.innerText = data.name;
        member_count.innerText = data.count;
        descri.innerText = data.description;
        // Change the button text and color to "Updated" and green after successful fetch operation
        button.innerText = data.message;
        button.style.backgroundColor = "#008000";
    }
    function loadMore(button) {
        // Disable the button and change its color
        button.disabled = true;
        button.style.backgroundColor = 'grey'; // Change this to your preferred color
    
        // Initialize loading text
        let loadingText = ['loading.', 'loading..', 'loading...', 'loading..', 'loading.'];
        let i = 0;
    
        // Start a setInterval to change the button text
        let loadingInterval = setInterval(() => {
            button.textContent = loadingText[i % loadingText.length];
            i++;
        }, 500); // Change text every 500ms
    
        console.log(button.dataset.nextpage);
        var url = '?page=' + button.dataset.nextpage;
        if(button.dataset.keyword != undefined){
            url = url + "&" + button.dataset.keyword;
        }
        fetch(url)
            .then(response => response.text())
            .then(data => {
                // Stop changing text and reset button when data is received
                clearInterval(loadingInterval);
                button.textContent = 'Load More';
                button.style.backgroundColor = ''; // Reset button color
                button.disabled = false;
    
                document.getElementById('groupresult').insertAdjacentHTML('beforeend', data);
            });
        button.dataset.nextpage = parseInt(button.dataset.nextpage) + 1;

        if(parseInt(button.dataset.nextpage) == parseInt(button.dataset.totalpage)+1) {
            button.style.display = 'none';
        }
    }
    
</script>

</body>
</html>