{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    
<head>
        <!-- seo tags -->
        {% include "components/seo.html" %}
        <!-- end of seo -->


        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{% static 'images/logo/telekit_favicon.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/logo/telekit_apple_icon.png' %}">




        <!--start-dropdown-->



        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}"/>

        <script src="{% static 'js/my.js' %}"></script>
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                $('#box').animate({'top': '-700px'}, 500);
                //Hide (Collapse) the toggle containers on load
                $(".toggle_container").hide();
                //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                $(".trigger").click(function () {
                    $(this).toggleClass("active").next().slideToggle("slow");
                    return false; //Prevent the browser jump to the link anchor
                });
            });

            var $ = jQuery.noConflict();
            $(function () {
                $('#activator').click(function () {
                    $('#box').animate({'top': '0px'}, 500);
                });
                $('#boxclose').click(function () {
                    $('#box').animate({'top': '-700px'}, 500);
                });
            });
        </script>
        {% include "components/headerscript.html" %}
</head>
<body onload="">
    {% include "header.html" %}
    {% if alertmsg%}
    <div class='alertmsg' style="background-color: {{alertmsgbgcolor}};">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{alertmsg}}
    </div>
    {% endif %}
    {% block content %}{% endblock %}


<!--//wookmark-scripts-->
<!--start-footer-->
<div style="position: fixed;
     bottom: 10px;
     right: 10px;">
    <a class="addbtn" href="/group/addgroup" title="Add New Telegram Group">+ Add Telegram Group</a>
</div>



<!--//End-footer-->
{% include "footer.html" %}
<!--//End-wrap-->


</body>
</html>