{% extends "base.html" %}
{% load static %}
{% block content %}
<!--start-content-->

<div class="content">
    <div class="wrap">
        <div class="contact-info">
            <h1 style="font-weight: bolder">Result of group adding</h1></br>
            <div class='alertmsg' style="background-color: {{alertmsgbgcolor}};">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    {{message}}
            </div>
            {% for link in links %}
                {% include "components/groupbox.html" %}
            {% endfor %}
            <div>
                <ul>
                    <li>
                        <h2>Get More Subscribers/Members</h2>
                    </li>
                    <ul>
                        <li>
                            <p><strong>Tip:</strong> <p>To gain more subscribers or members, you can resubmit your link after 24 hours.</p>
                        </li>
                    </ul>
                </ul>
                <p>
                    <strong>If you encounter any issues while adding your links, please don't hesitate to contact us at tamilcomway@gmail.com. We're here to help!</strong>
                </p>
            </div>
            
    </div>
</div>

{% endblock %}