{% load static %}

<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="{% static 'images/logo/logo.png' %}" alt="Telekit unlimited telegram link provider logo" height="52" width="154" title="Telekit" /></a>
        </div>
        <div class="auth">
            {% if  request.user.is_authenticated%}
            <a href='/profile'><button class="auth-first">Profile</button></a>
    
            <a href='/logout'><button>Log out</button></div>
            {% else %}
            <a href='/login/'><button class="auth-first">Login</button></a>
            {% endif %}
            </div>
        <div class="top-searchbar">

            <form action="/search" method="get">
                <input type="text" name="keyword" placeholder="Type Keywords to Search" required/><input type="submit" value="" />
            </form>
        </div>

        

            <div style="position: fixed; top: 200px; left: 0px; ">
                                                                    <a href="whatsapp://send?text=Telekit - Enjoy Unlimited Telegram Group Links Invite to Join. Follow this link : {{ request.get_host }}{{request.path}}" data-action="share/telegram/share">
                        <img src="{% static 'images/whatsapp.png' %}" width='26' height='26'alt="Share on Whatsapp" title="Share on Whatsapp" rel='nofollow'/></a><br>
                    <a href='https://twitter.com/intent/tweet?text=Telekit%20-%20Enjoy%20Unlimited%20Telegram%20Group%20Links%20Invite%20to%20Join.%20Follow%20this%20link%20:%20&amp;url={{ request.get_host }}{{request.path}}' target='_blank' rel='nofollow'>
                        <img src="{% static 'images/twitter.jpg' %}" width='26' height='26' alt="Share on Twitter"  title="Share on Twitter"/></a> <br>
                                    </div>

        


    </div>
</div>