{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            {% if not adsshow %}
                {% include "ads/hori_respon.html" %}
            {% endif %}
            <div style="margin-bottom: 10px;text-align: center">
                {% include "search.html" %}
            </div>
            {% if not adsshow %}
                {% include "ads/hori_respon.html" %}
            {% endif %}

            <!-- These are our grid blocks -->
            <div class="row">
                <div class='col-sm-3'>
                    {% if request.path == '/' %}
                        {% include 'teleintro.html'%}
                    {% else %}
                        {% include 'sidebar.html' %}
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    <div id="groupresult">
                        {% include "loadgroup.html" %}
                        
                    </div>
                    {% if links.has_next %}
                        <div style="margin-top: 10px"> 
                            <a 
                                {% if keyword|length %}
                                hx-get="?page={{ links.next_page_number }}&keyword={{keyword}}"

                                {% else %}
                                hx-get="?page={{ links.next_page_number }}"
                                {% endif %}
                                hx-trigger="intersect"
                                hx-target="#groupresult"
                                hx-swap="beforeend"
                            class="addbtn" name="load_more" id="load_more" style="cursor: pointer; display: inline;"><img class='center' src="{% static 'images/loader.gif' %}" alt="load more telegram links" /></a>
                        </div>
                    {% endif %}
                </div>

            </div>
            <!-- End of grid blocks -->
        </div>
    </div>
</div>

{% endblock %}