{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            {% if not adsshow %}
                {% include "ads/hori_respon.html" %}
            {% endif %}
            {% comment %} <div style="margin-bottom: 10px;text-align: center">
                {% include "search.html" %}
            </div> {% endcomment %}
            {% include 'blog/components/filter.html' %}
            {% if not adsshow %}
                {% include "ads/hori_respon.html" %}
            {% endif %}

            <!-- These are our grid blocks -->
            <div class="row">
                <div class='col-sm-3'>
                    {% if request.path == '/' %}
                        {% include 'teleintro.html'%}
                    {% else %}
                        {% include 'sidebar.html' %}
                    {% endif %}
                </div></div></div>
                <div class="col-sm-9">
                    

                    <div id="groupresult">
                        {% include "loadgroup.html" %}
                    </div>
                    {% if links.has_next %}
                        <button class="addbtn" data-nextpage="{{ links.next_page_number }}" onclick="loadMore(this)" style="cursor: pointer; display: inline;width: -webkit-fill-available;"
                        data-totalpage="{{ links.paginator.num_pages }}"
                        {% if keyword|length %}
                        data-keyword="{{keyword}}"
                        {% endif %}
                        >Load More</button>
                    {% endif %}
                </div>

                {% if request.path == '/' %}
                    {% include 'homepage.html' %}
                {% elif country %}
                    {% include 'components/country_content.html' %}
                {% elif language %}
                    {% include 'components/language_content.html' %}
                {% endif %}

            </div>
            <!-- End of grid blocks -->
        </div>
    </div>
</div>

{% endblock %}