{% extends "base.html" %}
{% load static %}
{% block content %}
<!---start-content---->
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            <div style="margin-bottom: 2px;text-align: center">
                {% include "search.html" %}
            </div>
            <div class="contact-info" style="margin-top:30px ;">

                <div style="margin-top: 30px; margin-bottom: 30px">

                </div>

                <div style="text-align: center">

                    <img class="proimg" src="{{post.imgUrl}}" onerror="imgError(this);">
                    <div>
                        <b style="font-size: 22px;word-wrap: normal">{{post.name}}</b>
                    </div>
                    <div>
                        <span><img src="{% static 'images/category.png' %}" class="icon"><a
                                href="/category/{{post.category.slug}}"
                                title="Money/Earning WhatsaApp groups invite link">{{post.category.name}} </a></span>
                        <span><img src="{% static 'images/country.png' %}" class="icon"><a
                                href="/country/{{post.country.slug}}" title="India Whatsapp group link">
                                {{post.country.name}} </a></span>
                        <span><img src="{% static 'images/language.png' %}" class="icon"><a
                                href="/language/{{post.language.slug}}"
                                title="Hindi Whatsapp group join links"> {{post.language.name}} </a></span>
                    </div>

                    <div style="height: 30px">
                        <img src="https://groupsor.link/assets/images/date.png" class="icon"><span class="cate">
                            {{post.added}} <span>
                    </div>

                    <pre class="predesc">{{post.description}}</pre>



                    <div style="margin-bottom: 20px">
                        {% for tag in post.tag.all %}
                        <a class="innertag" href="/tag/{{tag.slug}}"
                            title=" {{tag.name}} telegram {{link.type}} invite link"> {{tag.name}} </a>
                        {% endfor %}
                    </div>

                    <div>
                        <a href=" {{post.link}} " target="_blank" class="btn"
                            rel="nofollow">Join group</a>
                        <a class="btn"
                            href="whatsapp://send?text=Follow this link to Join my Whatsapp group :{{ request.get_host }}{{ request.path}} %0A %0AFind more WhatsApp Group at: {{ request.get_host }} "
                            data-action="share/whatsapp/share" rel="nofollow">Share group</a>
                    </div>
                    <div style="padding-top: 15px">
                        <a href="whatsapp://send?text=Follow this link to Join my Whatsapp group : {{ request.get_host }}{{ request.path }} %0A %0AFind more WhatsApp Group at: {{ request.get_host }} "
                            data-action="share/whatsapp/share" rel="nofollow">
                            <img src="{% static 'images/whatsapp.png' %}" width="32" height="32" alt="Share on Whatsapp"
                                title="Share on Whatsapp" rel="nofollow"></a>
                        <a href="https://twitter.com/intent/tweet?text=Follow this link to Join my WhatsApp group :&amp;url={{ request.get_host }}{{ request.path }}"
                            target="_blank" rel="nofollow">
                            <img src="{% static 'images/twitter.jpg' %}" width="32" height="32" alt="Share on Twitter"
                                title="Share on Twitter"></a>
                    </div>
                    <br>
                </div>
                <div style="margin-top: 30px; margin-bottom: 30px">
                </div>

                <!---start-comments-section--->
                <div class="comment-section">
                    <div class="grids_of_2">
                        <div class="artical-commentbox">
                            <b id="show" style="font-size: 14px;color: #8C8C8C">* Report this group </b><b id="hide"
                                style="color: white;border-radius: 50%;background-color: #0BC20B;padding: 0px 5px 1px 5px;font-weight: bolder   ;font-size: 12px;display: none">X</b>
                            <div class="table-form" id="report" style="display: none">
                                <form action="https://groupsor.link/data/addreport" method="post" name="post_comment">

                                    <input type="hidden" name="gpid" value="452926">
                                    <input type="hidden" name="code" value="BRfwTqFltJq6gy6ZvxH0gf">

                                    <div class="text3">
                                        <select name="reason" required="">
                                            <option value="">Report for</option>
                                            <option value="Child Pornography">Child Pornography</option>
                                            <option value="Rape/Gang rape">Rape/Gang rape</option>
                                            <option value="Inappropriate">Inappropriate</option>
                                            <option value="Link Revoked">Link Revoked</option>
                                            <option value="Group is Full">Group is Full</option>
                                            <option value="Group in Wrong Category">Group in Wrong Category</option>
                                            <option value="Remove my Group">Remove my Group</option>
                                            <option value="Religious Hateful">Religious Hateful</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="text2">
                                        <textarea name="rdesc" maxlength="500"
                                            placeholder="Your Comment (Optional) Note: For removing your group Please provide admin number"></textarea>
                                    </div>
                                    <input type="submit" value="submit">


                                </form>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                </div>



                <!-- End of grid blocks -->

                <!---//End-comments-section--->
            </div>
            <!-- These are our grid blocks -->
            <h1 style="font: 400 30px/28px 'Open Sans', sans-serif;
            color: #363636;
            text-align: left;
            padding: 1em 0 0.5em">Relate Groups</h1>
            {% include "loadgroup.html" %}
        </div>
    </div>
</div>

<div id="loder" style="display: none"><img src="https://groupsor.link/assets/images/loader.gif"
        style="height: 40px;margin-top: 10px"></div>
<div style="margin-top: 10px">
    <a class="addbtn" name="load_more" id="load_more" style="cursor: pointer;">Load more group</a>
</div>
<div id="no" style="display: none;color: #555">No More groups</div>
<div style="padding-top: 50px"></div>

</div>
</div>
{% endblock %}