{% load static %}
{% for link in links %}
    {% include "components/groupbox.html" %}
{% endfor %}

{% if links.has_next %}
    {% if links.next_page_number == 2 %}
        <p>summa</p>
    {% endif %}
<div style="margin-top: 10px"> 
    
    <a 
        {% if keyword|length %}
            hx-get="?page={{ links.next_page_number }}&keyword={{keyword}}"
        {% else %}
             hx-get="?page={{ links.next_page_number }}"
        {% endif %}
        hx-trigger="intersect   "
        hx-target="#groupresult"
        hx-swap="beforeend"
        hx-swap-oob="true"
    class="addbtn" name="load_more" id="load_more" style="cursor: pointer; display: inline;">
    <img class='center' src="{% static 'images/loader.gif' %}" alt="load more telegram links" /></a>
</div>
{% else %}
<p style="display: inline;">No more invite links</p>
</div>
<script>
    $("#load_more").hide();
</script>
{% endif %}