{% extends "base.html" %}
{% load static %}
{% block content %}

<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<div>Payment page</div>
<button class="button is-primary" id="submitBtn" value="actressGallery">Purchase!</button>
{% endblock %}