{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
                <tr>
                    <th style="width: 10%;">Title</th>
                    <th>description</th>
                    <th>members/subscribers</th>
                    <th>Category</th>
                    <th>Country</th>
                    <th>Language</th>
                    <th>Join</th>
                </tr>
            {% for link in links %}
                <tr>
                    <td>{{link.name}}</td>
                    <td>{{link.description}}</td>
                    <td>{{link.noOfMembers}}</td>
                    <td>{{link.category}}</td>
                    <td>{{link.country}}</td>
                    <td>{{link.language}}</td>
                    <td><a href="/join/{{link.linkId}}" title="{{link.name}} join link" target="_blank">Join</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}