{% load static %}
<div>
  <a
    href="https://walinking.link/category/{{post.category.slug}}"
    title="{{post.category.name}} WhatsApp {{post.type}} invite link" target="_blank"
    ><button class="btn-primary waaffilate">
      <img
        src="{% static 'images/whatsapp.png' %}"
        alt="Walinking language"
        class="icon"
      />{{post.category.name}}
    </button></a
  >
  <a
    href="https://walinking.link/country/{{post.country.slug}}"
    title="{{post.country.name}} WhatsApp {{post.type}} link" target="_blank"
    ><button class="waaffilate">
      <img
        src="{% static 'images/whatsapp.png' %}"
        alt="Walinking country"
        class="icon"
      />
      {{post.country.name}}
    </button></a
  >
  <a
    href="https://walinking.link/language/{{post.language.slug}}"
    title="{{post.language.name}} WhatsApp {{post.type}} join links" target="_blank"
    ><button class="waaffilate">
      <img
        src="{% static 'images/whatsapp.png' %}"
        alt="Walinking language"
        class="icon"
      />
      {{post.language.name}}
    </button></a
  ></br></br>
</div>

