<option value='29' {% if request.COOKIES.category_type == '29' %} selected {% endif %}>Common</option>
<option value='1' {% if request.COOKIES.category_type == '1' %} selected {% endif %} >Adult/18+/Hot</option>
<option value='2' {% if request.COOKIES.category_type == '2' %} selected {% endif %} >Art/Design/Photography</option>
<option value='3' {% if request.COOKIES.category_type == '3' %} selected {% endif %} >Auto/Vehicle</option>
<option value='4' {% if request.COOKIES.category_type == '4' %} selected {% endif %} >Business/Advertising/Marketing</option>
<option value='5' {% if request.COOKIES.category_type == '5' %} selected {% endif %} >Comedy/Funny</option>
<option value='6' {% if request.COOKIES.category_type == '6' %} selected {% endif %} >Dating/Flirting/Chatting</option>
<option value='7' {% if request.COOKIES.category_type == '7' %} selected {% endif %} >Education/School</option>
<option value='8' {% if request.COOKIES.category_type == '8' %} selected {% endif %} >Entertainment/Masti</option>
<option value='9' {% if request.COOKIES.category_type == '9' %} selected {% endif %} >Family/Relationships</option>
<option value='10' {% if request.COOKIES.category_type == '10' %} selected {% endif %} >Fan Club/Celebrities</option>
<option value='11' {% if request.COOKIES.category_type == '11' %} selected {% endif %} >Fashion/Style/Clothing</option>
<option value='12' {% if request.COOKIES.category_type == '12' %} selected {% endif %} >Film/Animation</option>
<option value='13' {% if request.COOKIES.category_type == '13' %} selected {% endif %} >Food/Drinks</option>
<option value='14' {% if request.COOKIES.category_type == '14' %} selected {% endif %} >Gaming/Apps</option>
<option value='15' {% if request.COOKIES.category_type == '15' %} selected {% endif %} >Health/Beauty/Fitness</option>
<option value='16' {% if request.COOKIES.category_type == '16' %} selected {% endif %} >Jobs/Career</option>
<option value='17' {% if request.COOKIES.category_type == '17' %} selected {% endif %} >Money/Earning</option>
<option value='18' {% if request.COOKIES.category_type == '18' %} selected {% endif %} >Music/Audio/Songs</option>
<option value='19' {% if request.COOKIES.category_type == '19' %} selected {% endif %} >News/Magazines/Politics</option>
<option value='20' {% if request.COOKIES.category_type == '20' %} selected {% endif %} >Pets/Animals/Nature</option>
<option value='21' {% if request.COOKIES.category_type == '21' %} selected {% endif %} >Roleplay/Comics</option>
<option value='22' {% if request.COOKIES.category_type == '22' %} selected {% endif %} >Science/Technology</option>
<option value='23' {% if request.COOKIES.category_type == '23' %} selected {% endif %} >Shopping/Buy/Sell</option>
<option value='24' {% if request.COOKIES.category_type == '24' %} selected {% endif %} >Social/Friendship/Community</option>
<option value='25' {% if request.COOKIES.category_type == '25' %} selected {% endif %} >Spiritual/Devotional</option>
<option value='26' {% if request.COOKIES.category_type == '26' %} selected {% endif %} >Sports/Games</option>
<option value='27' {% if request.COOKIES.category_type == '27' %} selected {% endif %} >Thoughts/Quotes/Jokes</option>
<option value='28' {% if request.COOKIES.category_type == '28' %} selected {% endif %} >Travel/Local/Place</option>
