<option value='100' {% if request.COOKIES.country_type == '100' %} selected {% endif %} >Common</option>
<option value='1' {% if request.COOKIES.country_type == '1' %} selected {% endif %} >Algeria</option>
<option value='2' {% if request.COOKIES.country_type == '2' %} selected {% endif %} >Argentina</option>
<option value='3' {% if request.COOKIES.country_type == '3' %} selected {% endif %} >Australia</option>
<option value='4' {% if request.COOKIES.country_type == '4' %} selected {% endif %} >Austria</option>
<option value='5' {% if request.COOKIES.country_type == '5' %} selected {% endif %} >Azerbaijan</option>
<option value='6' {% if request.COOKIES.country_type == '6' %} selected {% endif %} >Bahrain</option>
<option value='7' {% if request.COOKIES.country_type == '7' %} selected {% endif %} >Bangladesh</option>
<option value='8' {% if request.COOKIES.country_type == '8' %} selected {% endif %} >Belarus</option>
<option value='9' {% if request.COOKIES.country_type == '9' %} selected {% endif %} >Belgium</option>
<option value='10' {% if request.COOKIES.country_type == '10' %} selected {% endif %} >Bolivia</option>
<option value='11' {% if request.COOKIES.country_type == '11' %} selected {% endif %} >Bosnia and Herzegovina</option>
<option value='12' {% if request.COOKIES.country_type == '12' %} selected {% endif %} >Brazil</option>
<option value='13' {% if request.COOKIES.country_type == '13' %} selected {% endif %} >Bulgaria</option>
<option value='14' {% if request.COOKIES.country_type == '14' %} selected {% endif %} >Canada</option>
<option value='15' {% if request.COOKIES.country_type == '15' %} selected {% endif %} >Chile</option>
<option value='16' {% if request.COOKIES.country_type == '16' %} selected {% endif %} >China</option>
<option value='17' {% if request.COOKIES.country_type == '17' %} selected {% endif %} >Colombia</option>
<option value='18' {% if request.COOKIES.country_type == '18' %} selected {% endif %} >Croatia</option>
<option value='19' {% if request.COOKIES.country_type == '19' %} selected {% endif %} >Czechia</option>
<option value='20' {% if request.COOKIES.country_type == '20' %} selected {% endif %} >Denmark</option>
<option value='21' {% if request.COOKIES.country_type == '21' %} selected {% endif %} >Egypt</option>
<option value='22' {% if request.COOKIES.country_type == '22' %} selected {% endif %} >Estonia</option>
<option value='23' {% if request.COOKIES.country_type == '23' %} selected {% endif %} >Ethiopia</option>
<option value='24' {% if request.COOKIES.country_type == '24' %} selected {% endif %} >Finland</option>
<option value='25' {% if request.COOKIES.country_type == '25' %} selected {% endif %} >France</option>
<option value='26' {% if request.COOKIES.country_type == '26' %} selected {% endif %} >Georgia</option>
<option value='27' {% if request.COOKIES.country_type == '27' %} selected {% endif %} >Germany</option>
<option value='28' {% if request.COOKIES.country_type == '28' %} selected {% endif %} >Ghana</option>
<option value='29' {% if request.COOKIES.country_type == '29' %} selected {% endif %} >Greece</option>
<option value='30' {% if request.COOKIES.country_type == '30' %} selected {% endif %} >Hong Kong</option>
<option value='31' {% if request.COOKIES.country_type == '31' %} selected {% endif %} >Hungary</option>
<option value='32' {% if request.COOKIES.country_type == '32' %} selected {% endif %} >Iceland</option>
<option value='33' {% if request.COOKIES.country_type == '33' %} selected {% endif %} >India</option>
<option value='34' {% if request.COOKIES.country_type == '34' %} selected {% endif %} >Indonesia</option>
<option value='35' {% if request.COOKIES.country_type == '35' %} selected {% endif %} >Iraq</option>
<option value='36' {% if request.COOKIES.country_type == '36' %} selected {% endif %} >Ireland</option>
<option value='37' {% if request.COOKIES.country_type == '37' %} selected {% endif %} >Israel</option>
<option value='38' {% if request.COOKIES.country_type == '38' %} selected {% endif %} >Italy</option>
<option value='39' {% if request.COOKIES.country_type == '39' %} selected {% endif %} >Jamaica</option>
<option value='40' {% if request.COOKIES.country_type == '40' %} selected {% endif %} >Japan</option>
<option value='41' {% if request.COOKIES.country_type == '41' %} selected {% endif %} >Jordan</option>
<option value='42' {% if request.COOKIES.country_type == '42' %} selected {% endif %} >Kazakhstan</option>
<option value='43' {% if request.COOKIES.country_type == '43' %} selected {% endif %} >Kenya</option>
<option value='44' {% if request.COOKIES.country_type == '44' %} selected {% endif %} >Kuwait</option>
<option value='45' {% if request.COOKIES.country_type == '45' %} selected {% endif %} >Latvia</option>
<option value='46' {% if request.COOKIES.country_type == '46' %} selected {% endif %} >Lebanon</option>
<option value='47' {% if request.COOKIES.country_type == '47' %} selected {% endif %} >Libya</option>
<option value='48' {% if request.COOKIES.country_type == '48' %} selected {% endif %} >Lithuania</option>
<option value='49' {% if request.COOKIES.country_type == '49' %} selected {% endif %} >Luxembourg</option>
<option value='50' {% if request.COOKIES.country_type == '50' %} selected {% endif %} >Macedonia</option>
<option value='51' {% if request.COOKIES.country_type == '51' %} selected {% endif %} >Malawi</option>
<option value='52' {% if request.COOKIES.country_type == '52' %} selected {% endif %} >Malaysia</option>
<option value='53' {% if request.COOKIES.country_type == '53' %} selected {% endif %} >Mexico</option>
<option value='54' {% if request.COOKIES.country_type == '54' %} selected {% endif %} >Montenegro</option>
<option value='55' {% if request.COOKIES.country_type == '55' %} selected {% endif %} >Morocco</option>
<option value='56' {% if request.COOKIES.country_type == '56' %} selected {% endif %} >Mozambique</option>
<option value='57' {% if request.COOKIES.country_type == '57' %} selected {% endif %} >Nepal</option>
<option value='58' {% if request.COOKIES.country_type == '58' %} selected {% endif %} >Netherlands</option>
<option value='59' {% if request.COOKIES.country_type == '59' %} selected {% endif %} >New Zealand</option>
<option value='60' {% if request.COOKIES.country_type == '60' %} selected {% endif %} >Nigeria</option>
<option value='61' {% if request.COOKIES.country_type == '61' %} selected {% endif %} >Norway</option>
<option value='62' {% if request.COOKIES.country_type == '62' %} selected {% endif %} >Oman</option>
<option value='63' {% if request.COOKIES.country_type == '63' %} selected {% endif %} >Pakistan</option>
<option value='64' {% if request.COOKIES.country_type == '64' %} selected {% endif %} >Panama</option>
<option value='65' {% if request.COOKIES.country_type == '65' %} selected {% endif %} >Peru</option>
<option value='66' {% if request.COOKIES.country_type == '66' %} selected {% endif %} >Philippines</option>
<option value='67' {% if request.COOKIES.country_type == '67' %} selected {% endif %} >Poland</option>
<option value='68' {% if request.COOKIES.country_type == '68' %} selected {% endif %} >Portugal</option>
<option value='69' {% if request.COOKIES.country_type == '69' %} selected {% endif %} >Puerto Rico</option>
<option value='70' {% if request.COOKIES.country_type == '70' %} selected {% endif %} >Qatar</option>
<option value='71' {% if request.COOKIES.country_type == '71' %} selected {% endif %} >Romania</option>
<option value='72' {% if request.COOKIES.country_type == '72' %} selected {% endif %} >Russia</option>
<option value='73' {% if request.COOKIES.country_type == '73' %} selected {% endif %} >Saudi Arabia</option>
<option value='74' {% if request.COOKIES.country_type == '74' %} selected {% endif %} >Senegal</option>
<option value='75' {% if request.COOKIES.country_type == '75' %} selected {% endif %} >Serbia</option>
<option value='76' {% if request.COOKIES.country_type == '76' %} selected {% endif %} >Singapore</option>
<option value='77' {% if request.COOKIES.country_type == '77' %} selected {% endif %} >Slovakia</option>
<option value='78' {% if request.COOKIES.country_type == '78' %} selected {% endif %} >Slovenia</option>
<option value='79' {% if request.COOKIES.country_type == '79' %} selected {% endif %} >South Africa</option>
<option value='80' {% if request.COOKIES.country_type == '80' %} selected {% endif %} >South Korea</option>
<option value='81' {% if request.COOKIES.country_type == '81' %} selected {% endif %} >Spain</option>
<option value='82' {% if request.COOKIES.country_type == '82' %} selected {% endif %} >Sri Lanka</option>
<option value='83' {% if request.COOKIES.country_type == '83' %} selected {% endif %} >Sweden</option>
<option value='84' {% if request.COOKIES.country_type == '84' %} selected {% endif %} >Switzerland</option>
<option value='85' {% if request.COOKIES.country_type == '85' %} selected {% endif %} >Taiwan</option>
<option value='86' {% if request.COOKIES.country_type == '86' %} selected {% endif %} >Tanzania</option>
<option value='87' {% if request.COOKIES.country_type == '87' %} selected {% endif %} >Thailand</option>
<option value='88' {% if request.COOKIES.country_type == '88' %} selected {% endif %} >Togo</option>
<option value='89' {% if request.COOKIES.country_type == '89' %} selected {% endif %} >Tunisia</option>
<option value='90' {% if request.COOKIES.country_type == '90' %} selected {% endif %} >Turkey</option>
<option value='91' {% if request.COOKIES.country_type == '91' %} selected {% endif %} >Uganda</option>
<option value='92' {% if request.COOKIES.country_type == '92' %} selected {% endif %} >Ukraine</option>
<option value='93' {% if request.COOKIES.country_type == '93' %} selected {% endif %} >United Arab Emirates</option>
<option value='94' {% if request.COOKIES.country_type == '94' %} selected {% endif %} >United Kingdom</option>
<option value='95' {% if request.COOKIES.country_type == '95' %} selected {% endif %} >United States</option>
<option value='96' {% if request.COOKIES.country_type == '96' %} selected {% endif %} >Venezuela</option>
<option value='97' {% if request.COOKIES.country_type == '97' %} selected {% endif %} >Vietnam</option>
<option value='98' {% if request.COOKIES.country_type == '98' %} selected {% endif %} >Yemen</option>
<option value='99' {% if request.COOKIES.country_type == '99' %} selected {% endif %} >Zimbabwe</option>
