<div class="subnav">
  <button class="subnavbtn">Telegram Links<i class="fa fa-caret-down"></i></button>
  <div class="subnav-content">
    <a href="#Country">
      <div class="dropdown">
          <button class="dropbtn">Country 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href='/country/algeria' Algeria='Algeria telegram invite links'>Algeria</a>
              <a href='/country/argentina' Argentina='Argentina telegram invite links'>Argentina</a>
              <a href='/country/australia' Australia='Australia telegram invite links'>Australia</a>
              <a href='/country/austria' Austria='Austria telegram invite links'>Austria</a>
              <a href='/country/azerbaijan' Azerbaijan='Azerbaijan telegram invite links'>Azerbaijan</a>
              <a href='/country/bahrain' Bahrain='Bahrain telegram invite links'>Bahrain</a>
              <a href='/country/bangladesh' Bangladesh='Bangladesh telegram invite links'>Bangladesh</a>
              <a href='/country/belarus' Belarus='Belarus telegram invite links'>Belarus</a>
              <a href='/country/belgium' Belgium='Belgium telegram invite links'>Belgium</a>
              <a href='/country/bolivia' Bolivia='Bolivia telegram invite links'>Bolivia</a>
              <a href='/country/bosnia_and_herzegovina' Bosnia and Herzegovina='Bosnia and Herzegovina telegram invite links'>Bosnia and Herzegovina</a>
              <a href='/country/brazil' Brazil='Brazil telegram invite links'>Brazil</a>
              <a href='/country/bulgaria' Bulgaria='Bulgaria telegram invite links'>Bulgaria</a>
              <a href='/country/canada' Canada='Canada telegram invite links'>Canada</a>
              <a href='/country/chile' Chile='Chile telegram invite links'>Chile</a>
              <a href='/country/china' China='China telegram invite links'>China</a>
              <a href='/country/colombia' Colombia='Colombia telegram invite links'>Colombia</a>
              <a href='/country/croatia' Croatia='Croatia telegram invite links'>Croatia</a>
              <a href='/country/czechia' Czechia='Czechia telegram invite links'>Czechia</a>
              <a href='/country/denmark' Denmark='Denmark telegram invite links'>Denmark</a>
              <a href='/country/egypt' Egypt='Egypt telegram invite links'>Egypt</a>
              <a href='/country/estonia' Estonia='Estonia telegram invite links'>Estonia</a>
              <a href='/country/ethiopia' Ethiopia='Ethiopia telegram invite links'>Ethiopia</a>
              <a href='/country/finland' Finland='Finland telegram invite links'>Finland</a>
              <a href='/country/france' France='France telegram invite links'>France</a>
              <a href='/country/georgia' Georgia='Georgia telegram invite links'>Georgia</a>
              <a href='/country/germany' Germany='Germany telegram invite links'>Germany</a>
              <a href='/country/ghana' Ghana='Ghana telegram invite links'>Ghana</a>
              <a href='/country/greece' Greece='Greece telegram invite links'>Greece</a>
              <a href='/country/hong_kong' Hong Kong='Hong Kong telegram invite links'>Hong Kong</a>
              <a href='/country/hungary' Hungary='Hungary telegram invite links'>Hungary</a>
              <a href='/country/iceland' Iceland='Iceland telegram invite links'>Iceland</a>
              <a href='/country/india' India='India telegram invite links'>India</a>
              <a href='/country/indonesia' Indonesia='Indonesia telegram invite links'>Indonesia</a>
              <a href='/country/iraq' Iraq='Iraq telegram invite links'>Iraq</a>
              <a href='/country/ireland' Ireland='Ireland telegram invite links'>Ireland</a>
              <a href='/country/israel' Israel='Israel telegram invite links'>Israel</a>
              <a href='/country/italy' Italy='Italy telegram invite links'>Italy</a>
              <a href='/country/jamaica' Jamaica='Jamaica telegram invite links'>Jamaica</a>
              <a href='/country/japan' Japan='Japan telegram invite links'>Japan</a>
              <a href='/country/jordan' Jordan='Jordan telegram invite links'>Jordan</a>
              <a href='/country/kazakhstan' Kazakhstan='Kazakhstan telegram invite links'>Kazakhstan</a>
              <a href='/country/kenya' Kenya='Kenya telegram invite links'>Kenya</a>
              <a href='/country/kuwait' Kuwait='Kuwait telegram invite links'>Kuwait</a>
              <a href='/country/latvia' Latvia='Latvia telegram invite links'>Latvia</a>
              <a href='/country/lebanon' Lebanon='Lebanon telegram invite links'>Lebanon</a>
              <a href='/country/libya' Libya='Libya telegram invite links'>Libya</a>
              <a href='/country/lithuania' Lithuania='Lithuania telegram invite links'>Lithuania</a>
              <a href='/country/luxembourg' Luxembourg='Luxembourg telegram invite links'>Luxembourg</a>
              <a href='/country/macedonia' Macedonia='Macedonia telegram invite links'>Macedonia</a>
              <a href='/country/malawi' Malawi='Malawi telegram invite links'>Malawi</a>
              <a href='/country/malaysia' Malaysia='Malaysia telegram invite links'>Malaysia</a>
              <a href='/country/mexico' Mexico='Mexico telegram invite links'>Mexico</a>
              <a href='/country/montenegro' Montenegro='Montenegro telegram invite links'>Montenegro</a>
              <a href='/country/morocco' Morocco='Morocco telegram invite links'>Morocco</a>
              <a href='/country/mozambique' Mozambique='Mozambique telegram invite links'>Mozambique</a>
              <a href='/country/nepal' Nepal='Nepal telegram invite links'>Nepal</a>
              <a href='/country/netherlands' Netherlands='Netherlands telegram invite links'>Netherlands</a>
              <a href='/country/new_zealand' New Zealand='New Zealand telegram invite links'>New Zealand</a>
              <a href='/country/nigeria' Nigeria='Nigeria telegram invite links'>Nigeria</a>
              <a href='/country/norway' Norway='Norway telegram invite links'>Norway</a>
              <a href='/country/oman' Oman='Oman telegram invite links'>Oman</a>
              <a href='/country/pakistan' Pakistan='Pakistan telegram invite links'>Pakistan</a>
              <a href='/country/panama' Panama='Panama telegram invite links'>Panama</a>
              <a href='/country/peru' Peru='Peru telegram invite links'>Peru</a>
              <a href='/country/philippines' Philippines='Philippines telegram invite links'>Philippines</a>
              <a href='/country/poland' Poland='Poland telegram invite links'>Poland</a>
              <a href='/country/portugal' Portugal='Portugal telegram invite links'>Portugal</a>
              <a href='/country/puerto_rico' Puerto Rico='Puerto Rico telegram invite links'>Puerto Rico</a>
              <a href='/country/qatar' Qatar='Qatar telegram invite links'>Qatar</a>
              <a href='/country/romania' Romania='Romania telegram invite links'>Romania</a>
              <a href='/country/russia' Russia='Russia telegram invite links'>Russia</a>
              <a href='/country/saudi_arabia' Saudi Arabia='Saudi Arabia telegram invite links'>Saudi Arabia</a>
              <a href='/country/senegal' Senegal='Senegal telegram invite links'>Senegal</a>
              <a href='/country/serbia' Serbia='Serbia telegram invite links'>Serbia</a>
              <a href='/country/singapore' Singapore='Singapore telegram invite links'>Singapore</a>
              <a href='/country/slovakia' Slovakia='Slovakia telegram invite links'>Slovakia</a>
              <a href='/country/slovenia' Slovenia='Slovenia telegram invite links'>Slovenia</a>
              <a href='/country/south_africa' South Africa='South Africa telegram invite links'>South Africa</a>
              <a href='/country/south_korea' South Korea='South Korea telegram invite links'>South Korea</a>
              <a href='/country/spain' Spain='Spain telegram invite links'>Spain</a>
              <a href='/country/sri_lanka' Sri Lanka='Sri Lanka telegram invite links'>Sri Lanka</a>
              <a href='/country/sweden' Sweden='Sweden telegram invite links'>Sweden</a>
              <a href='/country/switzerland' Switzerland='Switzerland telegram invite links'>Switzerland</a>
              <a href='/country/taiwan' Taiwan='Taiwan telegram invite links'>Taiwan</a>
              <a href='/country/tanzania' Tanzania='Tanzania telegram invite links'>Tanzania</a>
              <a href='/country/thailand' Thailand='Thailand telegram invite links'>Thailand</a>
              <a href='/country/togo' Togo='Togo telegram invite links'>Togo</a>
              <a href='/country/tunisia' Tunisia='Tunisia telegram invite links'>Tunisia</a>
              <a href='/country/turkey' Turkey='Turkey telegram invite links'>Turkey</a>
              <a href='/country/uganda' Uganda='Uganda telegram invite links'>Uganda</a>
              <a href='/country/ukraine' Ukraine='Ukraine telegram invite links'>Ukraine</a>
              <a href='/country/united_arab_emirates' United Arab Emirates='United Arab Emirates telegram invite links'>United Arab Emirates</a>
              <a href='/country/united_kingdom' United Kingdom='United Kingdom telegram invite links'>United Kingdom</a>
              <a href='/country/united_states' United States='United States telegram invite links'>United States</a>
              <a href='/country/venezuela' Venezuela='Venezuela telegram invite links'>Venezuela</a>
              <a href='/country/vietnam' Vietnam='Vietnam telegram invite links'>Vietnam</a>
              <a href='/country/yemen' Yemen='Yemen telegram invite links'>Yemen</a>
              <a href='/country/zimbabwe' Zimbabwe='Zimbabwe telegram invite links'>Zimbabwe</a>
              <a href='/country/common' Common='Common telegram invite links'>Common</a>
          </div>
      </div>      
    </a>
    <a href="#language">
      <div class="dropdown">
        <button class="dropbtn">Language 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href='/language/afrikaans' Afrikaans='Afrikaans telegram invite links'>Afrikaans</a>
          <a href='/language/albanian' Albanian='Albanian telegram invite links'>Albanian</a>
          <a href='/language/amharic' Amharic='Amharic telegram invite links'>Amharic</a>
          <a href='/language/arabic' Arabic='Arabic telegram invite links'>Arabic</a>
          <a href='/language/armenian' Armenian='Armenian telegram invite links'>Armenian</a>
          <a href='/language/azerbaijani' Azerbaijani='Azerbaijani telegram invite links'>Azerbaijani</a>
          <a href='/language/bangla' Bangla='Bangla telegram invite links'>Bangla</a>
          <a href='/language/basque' Basque='Basque telegram invite links'>Basque</a>
          <a href='/language/belarusian' Belarusian='Belarusian telegram invite links'>Belarusian</a>
          <a href='/language/bosnian' Bosnian='Bosnian telegram invite links'>Bosnian</a>
          <a href='/language/bulgarian' Bulgarian='Bulgarian telegram invite links'>Bulgarian</a>
          <a href='/language/catalan' Catalan='Catalan telegram invite links'>Catalan</a>
          <a href='/language/chinese' Chinese='Chinese telegram invite links'>Chinese</a>
          <a href='/language/croatian' Croatian='Croatian telegram invite links'>Croatian</a>
          <a href='/language/czech' Czech='Czech telegram invite links'>Czech</a>
          <a href='/language/danish' Danish='Danish telegram invite links'>Danish</a>
          <a href='/language/dutch' Dutch='Dutch telegram invite links'>Dutch</a>
          <a href='/language/english' English='English telegram invite links'>English</a>
          <a href='/language/estonian' Estonian='Estonian telegram invite links'>Estonian</a>
          <a href='/language/filipino' Filipino='Filipino telegram invite links'>Filipino</a>
          <a href='/language/finnish' Finnish='Finnish telegram invite links'>Finnish</a>
          <a href='/language/french' French='French telegram invite links'>French</a>
          <a href='/language/galician' Galician='Galician telegram invite links'>Galician</a>
          <a href='/language/georgian' Georgian='Georgian telegram invite links'>Georgian</a>
          <a href='/language/german' German='German telegram invite links'>German</a>
          <a href='/language/greek' Greek='Greek telegram invite links'>Greek</a>
          <a href='/language/gujarati' Gujarati='Gujarati telegram invite links'>Gujarati</a>
          <a href='/language/hebrew' Hebrew='Hebrew telegram invite links'>Hebrew</a>
          <a href='/language/hindi' Hindi='Hindi telegram invite links'>Hindi</a>
          <a href='/language/hungarian' Hungarian='Hungarian telegram invite links'>Hungarian</a>
          <a href='/language/icelandic' Icelandic='Icelandic telegram invite links'>Icelandic</a>
          <a href='/language/indonesian' Indonesian='Indonesian telegram invite links'>Indonesian</a>
          <a href='/language/italian' Italian='Italian telegram invite links'>Italian</a>
          <a href='/language/japanese' Japanese='Japanese telegram invite links'>Japanese</a>
          <a href='/language/kannada' Kannada='Kannada telegram invite links'>Kannada</a>
          <a href='/language/kazakh' Kazakh='Kazakh telegram invite links'>Kazakh</a>
          <a href='/language/khmer' Khmer='Khmer telegram invite links'>Khmer</a>
          <a href='/language/korean' Korean='Korean telegram invite links'>Korean</a>
          <a href='/language/kyrgyz' Kyrgyz='Kyrgyz telegram invite links'>Kyrgyz</a>
          <a href='/language/lao' Lao='Lao telegram invite links'>Lao</a>
          <a href='/language/latvian' Latvian='Latvian telegram invite links'>Latvian</a>
          <a href='/language/lithuanian' Lithuanian='Lithuanian telegram invite links'>Lithuanian</a>
          <a href='/language/macedonian' Macedonian='Macedonian telegram invite links'>Macedonian</a>
          <a href='/language/malay' Malay='Malay telegram invite links'>Malay</a>
          <a href='/language/malayalam' Malayalam='Malayalam telegram invite links'>Malayalam</a>
          <a href='/language/marathi' Marathi='Marathi telegram invite links'>Marathi</a>
          <a href='/language/mongolian' Mongolian='Mongolian telegram invite links'>Mongolian</a>
          <a href='/language/myanmar' Myanmar='Myanmar telegram invite links'>Myanmar</a>
          <a href='/language/nepali' Nepali='Nepali telegram invite links'>Nepali</a>
          <a href='/language/norwegian' Norwegian='Norwegian telegram invite links'>Norwegian</a>
          <a href='/language/persian' Persian='Persian telegram invite links'>Persian</a>
          <a href='/language/polish' Polish='Polish telegram invite links'>Polish</a>
          <a href='/language/portuguese' Portuguese='Portuguese telegram invite links'>Portuguese</a>
          <a href='/language/punjabi' Punjabi='Punjabi telegram invite links'>Punjabi</a>
          <a href='/language/romanian' Romanian='Romanian telegram invite links'>Romanian</a>
          <a href='/language/russian' Russian='Russian telegram invite links'>Russian</a>
          <a href='/language/serbian' Serbian='Serbian telegram invite links'>Serbian</a>
          <a href='/language/sinhala' Sinhala='Sinhala telegram invite links'>Sinhala</a>
          <a href='/language/slovak' Slovak='Slovak telegram invite links'>Slovak</a>
          <a href='/language/slovenian' Slovenian='Slovenian telegram invite links'>Slovenian</a>
          <a href='/language/spanish' Spanish='Spanish telegram invite links'>Spanish</a>
          <a href='/language/swahili' Swahili='Swahili telegram invite links'>Swahili</a>
          <a href='/language/swedish' Swedish='Swedish telegram invite links'>Swedish</a>
          <a href='/language/tamil' Tamil='Tamil telegram invite links'>Tamil</a>
          <a href='/language/telugu' Telugu='Telugu telegram invite links'>Telugu</a>
          <a href='/language/thai' Thai='Thai telegram invite links'>Thai</a>
          <a href='/language/turkish' Turkish='Turkish telegram invite links'>Turkish</a>
          <a href='/language/ukrainian' Ukrainian='Ukrainian telegram invite links'>Ukrainian</a>
          <a href='/language/urdu' Urdu='Urdu telegram invite links'>Urdu</a>
          <a href='/language/uzbek' Uzbek='Uzbek telegram invite links'>Uzbek</a>
          <a href='/language/vietnamese' Vietnamese='Vietnamese telegram invite links'>Vietnamese</a>
          <a href='/language/zulu' Zulu='Zulu telegram invite links'>Zulu</a>
          <a href='/language/common' Common='Common telegram invite links'>Common</a>
        </div>
      </div>
    </a>
    <a href="#categroy">
      <div class="dropdown">
        <button class="dropbtn">Categroy 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href='/category/adult-18+-hot' Adult/18+/Hot='Adult/18+/Hot telegram invite links'>Adult/18+/Hot</a>
          <a href='/category/art-design-photography' Art/Design/Photography='Art/Design/Photography telegram invite links'>Art/Design/Photography</a>
          <a href='/category/auto-vehicle' Auto/Vehicle='Auto/Vehicle telegram invite links'>Auto/Vehicle</a>
          <a href='/category/business-advertising-marketing' Business/Advertising/Marketing='Business/Advertising/Marketing telegram invite links'>Business/Advertising/Marketing</a>
          <a href='/category/comedy-funny' Comedy/Funny='Comedy/Funny telegram invite links'>Comedy/Funny</a>
          <a href='/category/dating-flirting-chatting' Dating/Flirting/Chatting='Dating/Flirting/Chatting telegram invite links'>Dating/Flirting/Chatting</a>
          <a href='/category/education-school' Education/School='Education/School telegram invite links'>Education/School</a>
          <a href='/category/entertainment-masti' Entertainment/Masti='Entertainment/Masti telegram invite links'>Entertainment/Masti</a>
          <a href='/category/family-relationships' Family/Relationships='Family/Relationships telegram invite links'>Family/Relationships</a>
          <a href='/category/fan_club-celebrities' Fan Club/Celebrities='Fan Club/Celebrities telegram invite links'>Fan Club/Celebrities</a>
          <a href='/category/fashion-style-clothing' Fashion/Style/Clothing='Fashion/Style/Clothing telegram invite links'>Fashion/Style/Clothing</a>
          <a href='/category/film-animation' Film/Animation='Film/Animation telegram invite links'>Film/Animation</a>
          <a href='/category/food-drinks' Food/Drinks='Food/Drinks telegram invite links'>Food/Drinks</a>
          <a href='/category/gaming-apps' Gaming/Apps='Gaming/Apps telegram invite links'>Gaming/Apps</a>
          <a href='/category/health-beauty-fitness' Health/Beauty/Fitness='Health/Beauty/Fitness telegram invite links'>Health/Beauty/Fitness</a>
          <a href='/category/jobs-career' Jobs/Career='Jobs/Career telegram invite links'>Jobs/Career</a>
          <a href='/category/money-earning' Money/Earning='Money/Earning telegram invite links'>Money/Earning</a>
          <a href='/category/music-audio-songs' Music/Audio/Songs='Music/Audio/Songs telegram invite links'>Music/Audio/Songs</a>
          <a href='/category/news-magazines-politics' News/Magazines/Politics='News/Magazines/Politics telegram invite links'>News/Magazines/Politics</a>
          <a href='/category/pets-animals-nature' Pets/Animals/Nature='Pets/Animals/Nature telegram invite links'>Pets/Animals/Nature</a>
          <a href='/category/roleplay-comics' Roleplay/Comics='Roleplay/Comics telegram invite links'>Roleplay/Comics</a>
          <a href='/category/science-technology' Science/Technology='Science/Technology telegram invite links'>Science/Technology</a>
          <a href='/category/shopping-buy-sell' Shopping/Buy/Sell='Shopping/Buy/Sell telegram invite links'>Shopping/Buy/Sell</a>
          <a href='/category/social-friendship-community' Social/Friendship/Community='Social/Friendship/Community telegram invite links'>Social/Friendship/Community</a><a href='/category/spiritual-devotional' Spiritual/Devotional='Spiritual/Devotional telegram invite links'>Spiritual/Devotional</a>
          <a href='/category/sports-games' Sports/Games='Sports/Games telegram invite links'>Sports/Games</a>
          <a href='/category/thoughts-quotes-jokes' Thoughts/Quotes/Jokes='Thoughts/Quotes/Jokes telegram invite links'>Thoughts/Quotes/Jokes</a>
          <a href='/category/travel-local-place' Travel/Local/Place='Travel/Local/Place telegram invite links'>Travel/Local/Place</a>
          <a href='/category/common' Common='Common telegram invite links'>Common</a>
        </div>
      </div>
    </a>
  </div>
</div>

