{% load static %}
{% if link.pointsperday %}
<div class="maindiv" id='{{link.linkId}}' style="background-color: #0088ff17;">
{% else %}
<div class="maindiv" id='{{link.linkId}}'>
{% endif %}
    <div>
        <a style="color: #5a5a5a" target="_blank" href="/join/{{link.linkId}}"
            title="Telegram group invite link: {{link.name}}">
            <span>
                <img src="{{link.image_file.url}}" onerror="imgError(this);"
                    title="{{link.name}} telegram group and channel join link" class="image"
                    alt="{{link.name}} telegram Group link">
            </span>
        </a>
        <div class="refresh-line">
        <span>
        <a style="color: #5a5a5a;font-family: fantasy;" target="_blank" href="/join/{{link.linkId}}"
            title="{{link.name}} telegram {{link.type}} invite link">
            <h2>{{link.name}}</h2>
        </a>
    </span>
    {% comment %} {% if request.path == '/profile/' %} {% endcomment %}
        <span>
        <button id="refreshButton" data-link-id="{{link.linkId}}" onclick="refreshData(this)">
            Update
          </button>
        </span>
    {% comment %} {% endif %} {% endcomment %}
    </div>
    </div>
    <div class="block2">
        <div class="post-basic-info">
            <span><img src="{% static 'images/category.png' %}" alt="Telekit Category" class="icon"><a
                    href="/category/{{link.category.slug}}"
                    title="{{link.category.name}} telegram invite link">{{link.category.name}}
                </a></span>
            <span><img src="{% static 'images/country.png' %}" alt="Telekit country" class="icon"><a
                    href="/country/{{link.country.slug}}" title="{{link.country.name}} telegram  link">
                    {{link.country.name}} </a></span>
            <span><img src="{% static 'images/language.png' %}" alt="Telekit language" class="icon"><a
                    href="/language/{{link.language.slug}}" title="{{link.language.name}} Telegram join links">
                    {{link.language.name}} </a></span>
            <div style="color:#0088cc;">
                <a style="font-weight: 600;" href="/join/{{link.linkId}}"
                    title="{{link.name}} telegram {{link.type}} join link"
                    target="_blank">@{{link.linkId}}</a>
            </div>
            <span style="padding-right:20px;">Category: {{link.type}}</span>
            <span>
                {%if link.type == "Channel"%}
                {{"Subscribers : "}}
                {% else %}
                {{"members : "}}
                {% endif %}
                <span id='member-count'>
                {{link.noOfMembers}}</span></span>
            <p class="descri" style="margin-bottom: 0px">{{link.description}}</p>
            <div style="margin-bottom: 5px;">
                {% comment %} {{link.tag.all is " "}} {% endcomment %}
                {% if link.tag.all is not "" %}
                    {% for tag in link.tag.all %}
                    <a class="innertag" href="/tag/{{tag.slug}}"
                        title=" {{tag.name}} telegram {{link.type}} invite link"> {{tag.name}} </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="post-info-rate-share"> <span class="joinbtn"><a class="joinbtn"
                        href="/join/{{link.linkId}}" target="_blank"
                        title="Click here to join {{link.name}} Telegram group" rel="nofollow">Join
                        {{link.type}}</a></span>
                <div class="post-share">
                    <div>

                        <a href="https://t.me/share?url=https://telekit.link/join/{{ link.linkId }}&text=Follow this link to Join {{link.name}} Telegram {{link.type}}."
                            data-action="share/telegram/share" target="_blank">
                            <img src="{% static 'images/telegram.png' %}" width="24" height="24"
                                alt="Share on Telegram" title="Share on Telegram"
                                rel="nofollow"></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://telekit.link/join/{{ link.linkId }}&text=Follow this link to Join {{link.name}} Telegram {{link.type}}."
                            data-action="share/facebook/share" target="_blank">
                            <img src="{% static 'images/facebook.jpg' %}" width="24" height="24"
                                alt="Share on Facebook" title="Share on Facebook"
                                rel="nofollow"></a>
                        <a href="whatsapp://send?text=Follow this link to Join Telegram group : https://telekit.link/join/{{ link.linkId }} %0A %0AFind more Telegram group at: https://telekit.link/ "
                            data-action="share/whatsapp/share">
                            <img src="{% static 'images/whatsapp.png' %}" width="24" height="24"
                                alt="Share on Whatsapp" title="Share on Whatsapp"
                                rel="nofollow"></a>

                        <a href="https://twitter.com/intent/tweet?text=Follow this link to Join Telegram group : https://telekit.link/join/{{ link.linkId }} %0A %0AFind more Telegram group at: https://telekit.link/"
                            target="_blank" rel="nofollow">
                            <img src="{% static 'images/twitter.jpg' %}" width="24" height="24"
                                alt="Share on Twitter" title="Share on Twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% if request.user.is_superuser  %}
    <button class="serbtn add-to-profile" style="background-color: #461212;" data-linkid="{{ link.linkId }}" onclick="change18plus(this);">Change 18+</button>
</br></br>
    {% endif %}
    {% if  request.user.is_authenticated%}
        {% if link in user.links.all %}
            <a href="#" class="serbtn add-to-profile" style="background-color: #461212;" data-linkid="{{ link.linkId }}" onclick="removeToProfile(this);">Remove from profile</a>
        {% else%}
            <a href="#" class="serbtn add-to-profile" style="background-color: #0088cc;" data-linkid="{{ link.linkId }}" onclick="addToProfile(this);">Add to profile</a>
        {% endif %}
    {% endif %}
    <a href="/pin/{{link.linkId}}" class="serbtn add-to-profile" style="background-color: #0088cc;">Pin in 1st place</a>

</div>