<option value='73'>Common</option>
<option value='1'>Afrikaans</option>
<option value='2'>Albanian</option>
<option value='3'>Amharic</option>
<option value='4'>Arabic</option>
<option value='5'>Armenian</option>
<option value='6'>Azerbaijani</option>
<option value='7'>Bangla</option>
<option value='8'>Basque</option>
<option value='9'>Belarusian</option>
<option value='10'>Bosnian</option>
<option value='11'>Bulgarian</option>
<option value='12'>Catalan</option>
<option value='13'>Chinese</option>
<option value='14'>Croatian</option>
<option value='15'>Czech</option>
<option value='16'>Danish</option>
<option value='17'>Dutch</option>
<option value='18'>English</option>
<option value='19'>Estonian</option>
<option value='20'>Filipino</option>
<option value='21'>Finnish</option>
<option value='22'>French</option>
<option value='23'>Galician</option>
<option value='24'>Georgian</option>
<option value='25'>German</option>
<option value='26'>Greek</option>
<option value='27'>Gujarati</option>
<option value='28'>Hebrew</option>
<option value='29'>Hindi</option>
<option value='30'>Hungarian</option>
<option value='31'>Icelandic</option>
<option value='32'>Indonesian</option>
<option value='33'>Italian</option>
<option value='34'>Japanese</option>
<option value='35'>Kannada</option>
<option value='36'>Kazakh</option>
<option value='37'>Khmer</option>
<option value='38'>Korean</option>
<option value='39'>Kyrgyz</option>
<option value='40'>Lao</option>
<option value='41'>Latvian</option>
<option value='42'>Lithuanian</option>
<option value='43'>Macedonian</option>
<option value='44'>Malay</option>
<option value='45'>Malayalam</option>
<option value='46'>Marathi</option>
<option value='47'>Mongolian</option>
<option value='48'>Myanmar</option>
<option value='49'>Nepali</option>
<option value='50'>Norwegian</option>
<option value='51'>Persian</option>
<option value='52'>Polish</option>
<option value='53'>Portuguese</option>
<option value='54'>Punjabi</option>
<option value='55'>Romanian</option>
<option value='56'>Russian</option>
<option value='57'>Serbian</option>
<option value='58'>Sinhala</option>
<option value='59'>Slovak</option>
<option value='60'>Slovenian</option>
<option value='61'>Spanish</option>
<option value='62'>Swahili</option>
<option value='63'>Swedish</option>
<option value='64'>Tamil</option>
<option value='65'>Telugu</option>
<option value='66'>Thai</option>
<option value='67'>Turkish</option>
<option value='68'>Ukrainian</option>
<option value='69'>Urdu</option>
<option value='70'>Uzbek</option>
<option value='71'>Vietnamese</option>
<option value='72'>Zulu</option>
