<option value='73' {% if request.COOKIES.language_type == '73' %} selected {% endif %} >Common</option>
<option value='1' {% if request.COOKIES.language_type == '1' %} selected {% endif %} >Afrikaans</option>
<option value='2' {% if request.COOKIES.language_type == '2' %} selected {% endif %} >Albanian</option>
<option value='3' {% if request.COOKIES.language_type == '3' %} selected {% endif %} >Amharic</option>
<option value='4' {% if request.COOKIES.language_type == '4' %} selected {% endif %} >Arabic</option>
<option value='5' {% if request.COOKIES.language_type == '5' %} selected {% endif %} >Armenian</option>
<option value='6' {% if request.COOKIES.language_type == '6' %} selected {% endif %} >Azerbaijani</option>
<option value='7' {% if request.COOKIES.language_type == '7' %} selected {% endif %} >Bangla</option>
<option value='8' {% if request.COOKIES.language_type == '8' %} selected {% endif %} >Basque</option>
<option value='9' {% if request.COOKIES.language_type == '9' %} selected {% endif %} >Belarusian</option>
<option value='10' {% if request.COOKIES.language_type == '10' %} selected {% endif %} >Bosnian</option>
<option value='11' {% if request.COOKIES.language_type == '11' %} selected {% endif %} >Bulgarian</option>
<option value='12' {% if request.COOKIES.language_type == '12' %} selected {% endif %} >Catalan</option>
<option value='13' {% if request.COOKIES.language_type == '13' %} selected {% endif %} >Chinese</option>
<option value='14' {% if request.COOKIES.language_type == '14' %} selected {% endif %} >Croatian</option>
<option value='15' {% if request.COOKIES.language_type == '15' %} selected {% endif %} >Czech</option>
<option value='16' {% if request.COOKIES.language_type == '16' %} selected {% endif %} >Danish</option>
<option value='17' {% if request.COOKIES.language_type == '17' %} selected {% endif %} >Dutch</option>
<option value='18' {% if request.COOKIES.language_type == '18' %} selected {% endif %} >English</option>
<option value='19' {% if request.COOKIES.language_type == '19' %} selected {% endif %} >Estonian</option>
<option value='20' {% if request.COOKIES.language_type == '20' %} selected {% endif %} >Filipino</option>
<option value='21' {% if request.COOKIES.language_type == '21' %} selected {% endif %} >Finnish</option>
<option value='22' {% if request.COOKIES.language_type == '22' %} selected {% endif %} >French</option>
<option value='23' {% if request.COOKIES.language_type == '23' %} selected {% endif %} >Galician</option>
<option value='24' {% if request.COOKIES.language_type == '24' %} selected {% endif %} >Georgian</option>
<option value='25' {% if request.COOKIES.language_type == '25' %} selected {% endif %} >German</option>
<option value='26' {% if request.COOKIES.language_type == '26' %} selected {% endif %} >Greek</option>
<option value='27' {% if request.COOKIES.language_type == '27' %} selected {% endif %} >Gujarati</option>
<option value='28' {% if request.COOKIES.language_type == '28' %} selected {% endif %} >Hebrew</option>
<option value='29' {% if request.COOKIES.language_type == '29' %} selected {% endif %} >Hindi</option>
<option value='30' {% if request.COOKIES.language_type == '30' %} selected {% endif %} >Hungarian</option>
<option value='31' {% if request.COOKIES.language_type == '31' %} selected {% endif %} >Icelandic</option>
<option value='32' {% if request.COOKIES.language_type == '32' %} selected {% endif %} >Indonesian</option>
<option value='33' {% if request.COOKIES.language_type == '33' %} selected {% endif %} >Italian</option>
<option value='34' {% if request.COOKIES.language_type == '34' %} selected {% endif %} >Japanese</option>
<option value='35' {% if request.COOKIES.language_type == '35' %} selected {% endif %} >Kannada</option>
<option value='36' {% if request.COOKIES.language_type == '36' %} selected {% endif %} >Kazakh</option>
<option value='37' {% if request.COOKIES.language_type == '37' %} selected {% endif %} >Khmer</option>
<option value='38' {% if request.COOKIES.language_type == '38' %} selected {% endif %} >Korean</option>
<option value='39' {% if request.COOKIES.language_type == '39' %} selected {% endif %} >Kyrgyz</option>
<option value='40' {% if request.COOKIES.language_type == '40' %} selected {% endif %} >Lao</option>
<option value='41' {% if request.COOKIES.language_type == '41' %} selected {% endif %} >Latvian</option>
<option value='42' {% if request.COOKIES.language_type == '42' %} selected {% endif %} >Lithuanian</option>
<option value='43' {% if request.COOKIES.language_type == '43' %} selected {% endif %} >Macedonian</option>
<option value='44' {% if request.COOKIES.language_type == '44' %} selected {% endif %} >Malay</option>
<option value='45' {% if request.COOKIES.language_type == '45' %} selected {% endif %} >Malayalam</option>
<option value='46' {% if request.COOKIES.language_type == '46' %} selected {% endif %} >Marathi</option>
<option value='47' {% if request.COOKIES.language_type == '47' %} selected {% endif %} >Mongolian</option>
<option value='48' {% if request.COOKIES.language_type == '48' %} selected {% endif %} >Myanmar</option>
<option value='49' {% if request.COOKIES.language_type == '49' %} selected {% endif %} >Nepali</option>
<option value='50' {% if request.COOKIES.language_type == '50' %} selected {% endif %} >Norwegian</option>
<option value='51' {% if request.COOKIES.language_type == '51' %} selected {% endif %} >Persian</option>
<option value='52' {% if request.COOKIES.language_type == '52' %} selected {% endif %} >Polish</option>
<option value='53' {% if request.COOKIES.language_type == '53' %} selected {% endif %} >Portuguese</option>
<option value='54' {% if request.COOKIES.language_type == '54' %} selected {% endif %} >Punjabi</option>
<option value='55' {% if request.COOKIES.language_type == '55' %} selected {% endif %} >Romanian</option>
<option value='56' {% if request.COOKIES.language_type == '56' %} selected {% endif %} >Russian</option>
<option value='57' {% if request.COOKIES.language_type == '57' %} selected {% endif %} >Serbian</option>
<option value='58' {% if request.COOKIES.language_type == '58' %} selected {% endif %} >Sinhala</option>
<option value='59' {% if request.COOKIES.language_type == '59' %} selected {% endif %} >Slovak</option>
<option value='60' {% if request.COOKIES.language_type == '60' %} selected {% endif %} >Slovenian</option>
<option value='61' {% if request.COOKIES.language_type == '61' %} selected {% endif %} >Spanish</option>
<option value='62' {% if request.COOKIES.language_type == '62' %} selected {% endif %} >Swahili</option>
<option value='63' {% if request.COOKIES.language_type == '63' %} selected {% endif %} >Swedish</option>
<option value='64' {% if request.COOKIES.language_type == '64' %} selected {% endif %} >Tamil</option>
<option value='65' {% if request.COOKIES.language_type == '65' %} selected {% endif %} >Telugu</option>
<option value='66' {% if request.COOKIES.language_type == '66' %} selected {% endif %} >Thai</option>
<option value='67' {% if request.COOKIES.language_type == '67' %} selected {% endif %} >Turkish</option>
<option value='68' {% if request.COOKIES.language_type == '68' %} selected {% endif %} >Ukrainian</option>
<option value='69' {% if request.COOKIES.language_type == '69' %} selected {% endif %} >Urdu</option>
<option value='70' {% if request.COOKIES.language_type == '70' %} selected {% endif %} >Uzbek</option>
<option value='71' {% if request.COOKIES.language_type == '71' %} selected {% endif %} >Vietnamese</option>
<option value='72' {% if request.COOKIES.language_type == '72' %} selected {% endif %} >Zulu</option>
