<style>
  .bonus {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #dcdcdc;
    max-width: fit-content;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .bonus-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .bonus-text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .serbtn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .serbtn:hover {
    background-color: #45a049;
  }

  #resetMessage {
    margin-top: 15px;
    font-size: 16px;
  }
  #current {
    background-color: #1f5222 !important;
    color: #fff !important;
}
</style>

<div class="bonus">
  <div class="bonus-title">Daily Referral Points</div>
  <div class="bonus-title">Get 1000 Points every day!</div>

  <div>Steps to Earn Points:</div></br>
  <ul>
    <li>Step 01: Share your unique Referral link with friends and contacts.</li>
    <li>Step 02: Encourage them to visit the shared link.</li>
    <li>
      Step 03: Earn 1000 points if your shared link attracts the most visitors!
    </li>
  </ul>

  <div>
    <div id="resetMessage"></div>
  </div>
</div>
